<!-- Footer -->
<footer class="site-footer style-1" th:fragment="footer">
    <!-- Feature Product -->
    <section class="content-inner-1 bg-grey reccomend" th:if="${!adsFooter.isEmpty()}">
        <div class="container">
            <div class="section-head text-center">
                <div class="circle style-1"></div>
                <h2 class="title">Featured News</h2>
                <p>Discover the latest updates in the world of literature. From new book releases and author interviews to literary awards and book reviews, stay informed about everything happening in the book community. Whether you're a casual reader or a dedicated bibliophile, our featured news will keep you in the loop with the most exciting and noteworthy events in the literary world.</p>
            </div>
        </div>

        <div class="container">
            <div class="swiper-container books-wrapper-2 swiper-three">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="adsfooter : ${adsFooter}">
                        <div class="books-card style-2" th:if="adsFooter!=null">
                            <div class="dz-media">
                                <img alt="book" th:src="${adsfooter.getImageUrl()}">
                            </div>
                            <div class="dz-content">
                                <h6 class="sub-title">HOT NEWS</h6>
                                <h2 class="title" th:text="${adsfooter.getTitle()}">A Heavy LIft</h2>
                                <p class="text" th:text="${adsfooter.getContent()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris </p>
                                <div class="bookcard-footer">
                                    <a class="btn btn-outline-secondary btnhover m-t15" target="_blank" th:href="${adsfooter.getLink()}">See
                                        Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-align style-2">
                    <div class="swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="swiper-pagination-three"></div>
                    <div class="swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Category -->
<!--    <div class="footer-category">-->
<!--        <div class="container">-->
<!--            <div class="category-toggle">-->
<!--                <a class="toggle-btn" href="javascript:void(0);">Books categories</a>-->
<!--                <div class="toggle-items row">-->
<!--                    <div class="footer-col-book">-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/books-grid-view}">Architecture</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Art</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Action</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Biography</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Body, Mind & Spirit</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Business & Economics</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Children Fiction</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Children Non-Fiction</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Comics & Graphics</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Cooking</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Crafts & Hobbies</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Design</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Drama</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Education</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Family & Relationships</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Fiction</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Foreign Language</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Games</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Gardening</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Health & Fitness</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">History</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">House & Home</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Humor</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Literary Collections</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Mathematics</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Medical</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Nature</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Performing Arts</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Pets</a></li>-->
<!--                            <li><a th:href="@{/books-grid-view}">Show others</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Footer Category End -->

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="widget widget_about">
                        <div class="footer-logo logo-white">
                            <a th:href="@{/}"><img alt="" th:src="@{../user/images/logo.png}"></a>
                        </div>
                        <p class="text">Digital Tome is a Reading eBook Website</p>
                        <div class="dz-social-icon style-1">
                            <ul>
                                <li><a href="https://www.facebook.com/dexignzone" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g"
                                       target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="https://www.linkedin.com/showcase/3686700/admin/" target="_blank"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/website_templates__/" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Our Links</h5>
                        <ul>
                            <li><a th:href="@{/about-us}">About us</a></li>
                            <li><a th:href="@{/contact-us}">Contact us</a></li>
                            <li><a th:href="@{/pricing}">Pricing Table</a></li>
                            <li><a th:href="@{/faq}">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Bookland ?</h5>
                        <ul>
                            <li><a th:href="@{/}">Bookland</a></li>
                            <li><a th:href="@{/services}">Services</a></li>
                            <li><a th:href="@{/books-detail}">Book Details</a></li>
                            <li><a th:href="@{/blog-detail}">Blog Details</a></li>
                            <li><a th:href="@{/books-grid-view}">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Resources</h5>
                        <ul>
                            <li><a th:href="@{/services}">Download</a></li>
                            <li><a th:href="@{/shop-cart}">Shop Cart</a></li>
                            <li><a th:href="@{/login}">Login</a></li>
                            <li><a th:href="@{/about-us}">Partner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
</footer>
<!-- Footer End -->

