
<!--**********************************
    Header start
***********************************-->
<div class="header" th:fragment="header-admin">

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <!-- Thêm thư viện STOMP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <style>
        .notification-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .notification-text {
            display: flex;
            flex-direction: column;
            text-align: left;
        }


        .notification-message {
            margin: 0;
        }
    </style>

    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <form>
                        <div class="input-group search-area">
									<span class="input-group-text"><a href="javascript:void(0)">
										<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="10.7861" cy="11.2859" r="8.23951" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M16.5168 17.4443L19.7472 20.6663" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</a></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav header-right">
                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link open-cal">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.09253 9.40445H20.9165" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.442 13.3097H16.4512" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.0047 13.3097H12.014" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.55793 13.3097H7.5672" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.442 17.1964H16.4512" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.0047 17.1964H12.014" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.55793 17.1964H7.5672" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.0438 2V5.29078" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.9654 2V5.29078" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2383 3.5791H7.77096C4.83427 3.5791 3 5.21504 3 8.22213V17.2718C3 20.3261 4.83427 21.9999 7.77096 21.9999H16.229C19.175 21.9999 21 20.3545 21 17.3474V8.22213C21.0092 5.21504 19.1842 3.5791 16.2383 3.5791Z" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>

                    <!--     Thông báo   -->
                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" id="notificationDropdown">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 8.5C18 6.9087 17.3679 5.38258 16.2426 4.25736C15.1174 3.13214 13.5913 2.5 12 2.5C10.4087 2.5 8.88258 3.13214 7.75736 4.25736C6.63214 5.38258 6 6.9087 6 8.5C6 15.5 3 17.5 3 17.5H21C21 17.5 18 15.5 18 8.5Z" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.73 21.5C13.5542 21.8031 13.3019 22.0547 12.9982 22.2295C12.6946 22.4044 12.3504 22.4965 12 22.4965C11.6496 22.4965 11.3054 22.4044 11.0018 22.2295C10.6982 22.0547 10.4458 21.8031 10.27 21.5" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span class="badge badge-pill badge-danger" id="notificationCount"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3 pt-0" style="height:380px;">
                                <ul class="timeline notification-items" id="notificationList">
                                    <!-- Các thông báo sẽ được thêm vào đây bằng JavaScript -->
                                </ul>
                            </div>
                            <a class="all-notification" href="/admin/notifications">See all notifications <i class="ti-arrow-end"></i></a>
                        </div>
                    </li>
                    <audio id="notificationSound" src="/admin/notificationsound/notification.mp3" preload="auto"></audio>



                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link bell-link" href="javascript:void(0);">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.9026 8.85156L13.4593 12.4646C12.6198 13.1306 11.4387 13.1306 10.5992 12.4646L6.11841 8.85156" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item align-items-center header-border"><a href="analytics.html" class="btn btn-primary">Analytics</a></li>
                    <li class="nav-item ps-3">
                        <div class="header-profile2">
                            <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="header-info2 d-flex align-items-center">
                                    <div class="header-media">
                                        <img th:src="${account != null && account.avatarPath != null ? account.avatarPath: '/user/images/avatar_default.png'}" class="avatar avatar-lg" alt="">
                                    </div>
                                    <div class="header-info">
                                        <span th:if="${account !=null}" th:text="${account.email}">Email user</span>
                                        <h6 class="m-0" th:if="${account !=null}" th:text="${account.fullname}">Name</h6>
                                    </div>
                                </div>
                            </a>
                            <div class=" profile-box">
                                <div class="products">
                                    <div class="border-img">
                                        <img alt="/" th:src="${account != null && account.avatarPath != null ? account.avatarPath : '/user/images/avatar_default.png'}"/>
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0">Thomas Fleming</h6>
                                        <span class="d-block mb-1" th:if="${account !=null}" th:text="${account.email}">demo@gmail.com</span>
                                    </div>
                                </div>
                                <div class="account-setting">
                                    <a href="app-profile-2.html" class="ai-icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.6666 17.5V15.8333C16.6666 14.9493 16.3154 14.1014 15.6903 13.4763C15.0652 12.8512 14.2173 12.5 13.3333 12.5H6.66658C5.78253 12.5 4.93468 12.8512 4.30956 13.4763C3.68444 14.1014 3.33325 14.9493 3.33325 15.8333V17.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10.0001 9.16667C11.841 9.16667 13.3334 7.67428 13.3334 5.83333C13.3334 3.99238 11.841 2.5 10.0001 2.5C8.15913 2.5 6.66675 3.99238 6.66675 5.83333C6.66675 7.67428 8.15913 9.16667 10.0001 9.16667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <span class="ms-2">Account Settings</span>
                                    </a>
                                    <a href="app-profile-1.html" class="ai-icon ">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.33341 3.33301H16.6667C17.5834 3.33301 18.3334 4.08301 18.3334 4.99967V14.9997C18.3334 15.9163 17.5834 16.6663 16.6667 16.6663H3.33341C2.41675 16.6663 1.66675 15.9163 1.66675 14.9997V4.99967C1.66675 4.08301 2.41675 3.33301 3.33341 3.33301Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M18.3334 5L10.0001 10.8333L1.66675 5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <span class="ms-2">Subscription</span>
                                    </a>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);" class="dropdown-item ai-icon ">
                                            <div>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.4999 10.6583C17.3688 12.0768 16.8365 13.4287 15.9651 14.5557C15.0938 15.6826 13.9195 16.5382 12.5797 17.0221C11.2398 17.5061 9.7899 17.5984 8.3995 17.2884C7.0091 16.9784 5.73575 16.2788 4.72844 15.2715C3.72113 14.2642 3.02153 12.9908 2.71151 11.6004C2.40148 10.21 2.49385 8.76007 2.9778 7.42025C3.46175 6.08042 4.31728 4.90614 5.44426 4.03479C6.57125 3.16345 7.92308 2.63109 9.34158 2.5C8.51109 3.62356 8.11146 5.00787 8.21536 6.40118C8.31926 7.79448 8.9198 9.10421 9.90775 10.0922C10.8957 11.0801 12.2054 11.6807 13.5987 11.7846C14.992 11.8885 16.3764 11.4888 17.4999 10.6583Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                <span class="ms-2">Dark Mode</span>
                                            </div>
                                        </a>
                                        <div class="dz-layout">
                                            <i class="fas fa-sun sun"></i>
                                            <i class="fas fa-moon moon"></i>
                                        </div>
                                    </div>
                                    <a href="/login" class="ai-icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.5 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V4.16667C2.5 3.72464 2.67559 3.30072 2.98816 2.98816C3.30072 2.67559 3.72464 2.5 4.16667 2.5H7.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M13.3333 14.1663L17.4999 9.99967L13.3333 5.83301" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M17.5 10H7.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <span class="ms-2">Logout </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <script th:if="${account != null}">
        document.addEventListener('DOMContentLoaded', function () {
            let socket = new SockJS('/ws');
            let stompClient = Stomp.over(socket);

            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/user/queue/notifications', function (notification) {
                    let newNotification = JSON.parse(notification.body);
                    addNotificationToUI(newNotification);
                    updateNotificationCount();
                    playNotificationSound();
                });
            });

            fetchNotifications();

            document.querySelector('#notificationList').addEventListener('click', function (e) {
                const notificationId = e.target.getAttribute('data-notification-id');
                if (notificationId) {
                    console.log(notificationId);
                    markNotificationAsRead(notificationId);
                }
            });
        });

        function fetchNotifications() {
            fetch('/api/notifications/current')
                .then(response => response.json())
                .then(data => {
                    updateNotificationUI(data);
                })
                .catch(error => console.error('Error fetching notifications:', error));
        }

        function updateNotificationUI(notifications) {
            const notificationItemsContainer = document.querySelector('#notificationList');
            notificationItemsContainer.innerHTML = '';

            notifications.forEach(notification => {
                addNotificationToUI(notification);
            });

            updateNotificationCount();
        }

        function updateNotificationCount() {
            const countSpan = document.querySelector('#notificationCount');
            const notifications = document.querySelectorAll('.notification-item');
            let unreadCount = Array.from(notifications).filter(notification => notification.classList.contains('unread')).length;

            if (unreadCount === 0) {
                countSpan.style.display = 'none';
            } else {
                countSpan.style.display = 'block';
                countSpan.textContent = unreadCount;
            }
        }

        function addNotificationToUI(notification) {
            const notificationItemsContainer = document.querySelector('#notificationList');

            const notificationElement = document.createElement('li');
            notificationElement.className = notification.isRead ? 'notification-item' : 'notification-item unread';
            notificationElement.setAttribute('data-notification-id', notification.id);
            notificationElement.setAttribute('data-notification-url', notification.url);

            notificationElement.innerHTML = `
        <div class="notification-body">
            <img src="${notification.avatarUrl}" alt="Avatar" class="notification-avatar" style="width: 40px; height: 40px; margin-right: 10px; float: left;">
            <div class="notification-text">
                <p class="notification-message">${truncateText(notification.message, 100)}</p>
            </div>
        </div>
    `;
            notificationItemsContainer.prepend(notificationElement);

            notificationElement.onclick = () => {
                if (notification.url) {
                    window.location.href = notification.url;
                    markNotificationAsRead(notification.id);
                }
            };
        }

        function markNotificationAsRead(notificationId) {
            fetch(`/api/notifications/mark-as-read/${notificationId}`, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    document.querySelector(`[data-notification-id="${notificationId}"]`).classList.remove('unread');
                    updateNotificationCount();
                }
            }).catch(error => console.error('Error marking notification as read:', error));
        }

        function truncateText(text, maxLength) {
            if (text.length > maxLength) {
                return text.substring(0, maxLength) + '...';
            }
            return text;
        }

        function playNotificationSound() {
            var sound = document.getElementById("notificationSound");
            sound.play();
        }

    </script>
</div>


