<head th:fragment="head-admin">
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="/dashboard/images/favicon.png">

    <link href="/dashboard/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/dashboard/vendor/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
    <link href="/dashboard/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Style css -->
    <link href="/dashboard/css/style.css" rel="stylesheet">
</head>