<!-- Header -->
<header class="site-header mo-left header style-1" th:fragment="header">
    <script src="https://cdn.jsdelivr.net/sockjs/1.0.2/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script th:if="${account != null}">
        document.addEventListener('DOMContentLoaded', function () {
            var socket = new SockJS('/ws');
            var stompClient = Stomp.over(socket);

            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/user/queue/notifications', function (notification) {
                    let newNotification = JSON.parse(notification.body);
                    addNotificationToUI(newNotification);
                    updateNotificationCount();
                    playNotificationSound();
                });
            });

            fetchNotifications();

            document.querySelector('#notificationList').addEventListener('click', function (e) {
                const notificationId = e.target.getAttribute('data-notification-id');
                if (notificationId) {
                    console.log(notificationId);
                    markNotificationAsRead(notificationId);
                }
            });
        });

        function fetchNotifications() {
            fetch('/api/notifications/current')
                .then(response => response.json())
                .then(data => {
                    updateNotificationUI(data);
                })
                .catch(error => console.error('Error fetching notifications:', error));
        }

        function updateNotificationUI(notifications) {
            const notificationItemsContainer = document.querySelector('#notificationList');
            notificationItemsContainer.innerHTML = '';

            notifications.forEach(notification => {
                addNotificationToUI(notification);
            });

            updateNotificationCount();
        }

        function updateNotificationCount() {
            const countSpan = document.querySelector('#notificationCount');
            const notifications = document.querySelectorAll('.notification-item');
            let unreadCount = Array.from(notifications).filter(notification => notification.classList.contains('unread')).length;

            if (unreadCount === 0) {
                countSpan.style.display = 'none';
            } else {
                countSpan.style.display = 'block';
                countSpan.textContent = unreadCount;
            }
        }

        function addNotificationToUI(notification) {
            const notificationItemsContainer = document.querySelector('#notificationList');

            const notificationElement = document.createElement('li');
            notificationElement.className = notification.isRead ? 'notification-item' : 'notification-item unread';
            notificationElement.setAttribute('data-notification-id', notification.id);
            notificationElement.setAttribute('data-notification-url', notification.url);

            notificationElement.innerHTML = `
        <div class="notification-body">
            <img src="${notification.avatarUrl}" alt="Avatar" class="notification-avatar" style="width: 40px; height: 40px; margin-right: 10px; float: left;">
            <div class="notification-text">
                <p class="notification-message">${truncateText(notification.message, 100)}</p>
            </div>
        </div>
    `;
            notificationItemsContainer.prepend(notificationElement);

            notificationElement.onclick = () => {
                if (notification.url) {
                    window.location.href = notification.url;
                    markNotificationAsRead(notification.id);
                }
            };
        }

        function markNotificationAsRead(notificationId) {
            fetch(`/api/notifications/mark-as-read/${notificationId}`, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    document.querySelector(`[data-notification-id="${notificationId}"]`).classList.remove('unread');
                    updateNotificationCount();
                }
            }).catch(error => console.error('Error marking notification as read:', error));
        }

        function truncateText(text, maxLength) {
            if (text.length > maxLength) {
                return text.substring(0, maxLength) + '...';
            }
            return text;
        }

        function playNotificationSound() {
            var sound = document.getElementById("notificationSound");
            sound.play();
        }

    </script>


    <!-- Main Header -->
    <div class="header-info-bar">
        <div class="container clearfix">
            <!-- Website Logo -->
            <div class="logo-header logo-dark">
                <a th:href="@{/}"><img alt="logo" th:src="@{../user/images/logo.png}"></a>
            </div>

            <!-- EXTRA NAV -->
            <div class="extra-nav">
                <div class="extra-cell">
                    <ul class="navbar-nav header-right">
                        <li class="nav-item dropdown notification-dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" id="notificationDropdown">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 8.5C18 6.9087 17.3679 5.38258 16.2426 4.25736C15.1174 3.13214 13.5913 2.5 12 2.5C10.4087 2.5 8.88258 3.13214 7.75736 4.25736C6.63214 5.38258 6 6.9087 6 8.5C6 15.5 3 17.5 3 17.5H21C21 17.5 18 15.5 18 8.5Z" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.73 21.5C13.5542 21.8031 13.3019 22.0547 12.9982 22.2295C12.6946 22.4044 12.3504 22.4965 12 22.4965C11.6496 22.4965 11.3054 22.4044 11.0018 22.2295C10.6982 22.0547 10.4458 21.8031 10.27 21.5" stroke="#111828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span class="badge badge-pill badge-danger" id="notificationCount"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="widget-media dz-scroll p-3 pt-0" style="height:380px;">

                                    <ul class="timeline notification-items" id="notificationList">

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <audio id="notificationSound" src="/admin/notificationsound/notification.mp3" preload="auto"></audio>



                        <li class="nav-item">
                            <a class="nav-link" th:href="@{wishlist}">
                                <svg fill="#000000" height="24px" viewBox="0 0 24 24" width="24px"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0V0z" fill="none"/>
                                    <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                                </svg>
                                <!--                                    <span class="badge">21</span>-->
                            </a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link box cart-btn" type="button">
                                <svg fill="#000000" height="24px" viewBox="0 0 24 24" width="24px"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0V0z" fill="none"/>
                                    <path d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                                </svg>
                                <!--                                    <span class="badge">5</span>-->
                            </button>
                            <ul class="dropdown-menu cart-list">
                                <li class="cart-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a th:href="@{books-detail}">
                                                <img alt="" class="media-object"
                                                     th:src="@{../user/images/books/small/pic1.jpg}">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="dz-title"><a class="media-heading" th:href="@{books-detail}">Real
                                                Life</a></h6>
                                            <span class="dz-price">$28.00</span>
                                            <span class="item-close">&times;</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-item text-center">
                                    <!--                                        <h6 class="text-secondary">Totle = $500</h6>-->
                                </li>
                                <li class="text-center d-flex">
                                    <a class="btn btn-sm btn-primary me-2 btnhover w-100" th:href="@{shop-cart}">View
                                        Cart</a>
                                    <a class="btn btn-sm btn-outline-primary btnhover w-100" th:href="@{shop-checkout}">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown profile-dropdown  ms-4">
                            <a aria-expanded="false" class="nav-link" data-bs-toggle="dropdown" href="javascript:void(0);"
                               role="button">
                                <img alt="/" th:src="${account != null && account.avatarPath != null ? account.avatarPath: '/user/images/avatar_default.png'}"/>
                                <div class="profile-info" th:if="${account != null}">
                                    <h6 class="title"></h6>
                                    <span th:text="${account.email}">Email user</span>
                                </div>
                            </a>

                            <div class="dropdown-menu py-0 dropdown-menu-end" style="min-width: 270px">
                                <div class="dropdown-header" th:if="${account != null}">
                                    <h6 class="m-0" th:text="${account.fullname}">Name</h6>
                                </div>

                                <div class="dropdown-body">

                                    <a class="dropdown-item d-flex justify-content-between align-items-center ai-icon"
                                       th:href="@{/profile}">
                                        <div>
                                            <svg fill="#000000" height="20px" viewBox="0 0 24 24"
                                                 width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                            </svg>
                                            <span class="ms-2">Profile</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex justify-content-between align-items-center ai-icon"
                                       th:href="@{shop-cart}">
                                        <div>
                                            <svg fill="#000000" height="20px" viewBox="0 0 24 24"
                                                 width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                                            </svg>
                                            <span class="ms-2">My Order</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex justify-content-between align-items-center ai-icon"
                                       th:href="@{wishlist}">
                                        <div>
                                            <svg fill="#000000" height="20px" viewBox="0 0 24 24"
                                                 width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                                            </svg>
                                            <span class="ms-2">Wishlist</span>
                                        </div>
                                    </a>



                                    <a  th:if="${session.role != null and session.role.size() > 0 and session.role.contains('ROLE_ADMIN')}"
                                        class="dropdown-item d-flex justify-content-between align-items-center ai-icon"
                                        th:href="@{/admin}">
                                        <div>
                                            <svg fill="#000000" height="20px" viewBox="0 0 24 24"
                                                 width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                            </svg>
                                            <span class="ms-2">Admin</span>
                                        </div>
                                    </a>


                                    <a  th:if="${session.role != null and session.role.size() > 0 and session.role.contains('ROLE_PUBLISHER')}"
                                        class="dropdown-item d-flex justify-content-between align-items-center ai-icon"
                                        th:href="@{/add}">
                                        <div>
                                            <svg fill="#000000" height="20px" viewBox="0 0 24 24"
                                                 width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                            </svg>
                                            <span class="ms-2">Add Book</span>
                                        </div>
                                    </a>


                                    <a  th:if="${session.role != null and session.role.size() > 0 and session.role.contains('ROLE_USER')}"
                                        class="dropdown-item d-flex justify-content-between align-items-center ai-icon"
                                        th:href="@{/buypoint}">
                                        <div>
                                            <svg fill="#000000" height="20px" viewBox="0 0 24 24"
                                                 width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                            </svg>
                                            <span class="ms-2" th:if="${account != null}">Buy Point
                                                 <span th:text="${account.point}"></span>
                                            </span>
                                        </div>
                                    </a>

                                    <a  th:if="${session.role != null and session.role.size() > 0 and session.role.contains('ROLE_USER')}"
                                        class="dropdown-item d-flex justify-content-between align-items-center ai-icon"
                                        th:href="@{/register-publisher}">
                                        <div>
                                            <svg fill="#000000" height="20px" viewBox="0 0 24 24"
                                                 width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                                <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                            </svg>
                                            <span class="ms-2">Register Publisher</span>
                                        </div>
                                    </a>



                                </div>
                                <div class="dropdown-footer">
                                    <div th:if="${#authorization.expression('!isAuthenticated()')}">
                                        <a class="btn btn-primary w-100 btnhover btn-sm" th:href="@{/login}">Login</a>
                                    </div>

                                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                                        <a class="btn btn-primary w-100 btnhover btn-sm" th:href="@{/logout}">Log out</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- header search nav -->
            <div class="header-search-nav">
                <form class="header-item-search">
                    <div class="input-group search-input">
                        <label>
                            <select class="default-select">
                                <option>Category</option>
                                <option>Photography</option>
                                <option>Arts</option>
                                <option>Adventure</option>
                                <option>Action</option>
                                <option>Games</option>
                                <option>Movies</option>
                                <option>Comics</option>
                                <option>Biographies</option>
                                <option>Children’s Books</option>
                                <option>Historical</option>
                                <option>Contemporary</option>
                                <option>Classics</option>
                                <option>Education</option>
                            </select>
                        </label>
                        <input aria-label="Text input with dropdown button" class="form-control" placeholder="Search Books Here"
                               type="text">
                        <button class="btn" type="button"><i class="flaticon-loupe"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Main Header End -->

    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix">
            <div class="container clearfix">
                <!-- Website Logo -->
                <div class="logo-header logo-dark">
                    <a th:href="@{../index}"><img alt="logo" th:src="@{../user/images/logo.png}"></a>
                </div>

                <!-- Nav Toggle Button -->
                <button aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation" class="navbar-toggler collapsed navicon justify-content-end" data-bs-target="#navbarNavDropdown"
                        data-bs-toggle="collapse" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <!-- EXTRA NAV -->
                <div class="extra-nav">
                    <div class="extra-cell">
                        <!--                            <a th:href="@{contact-us}" class="btn btn-primary btnhover">Get In Touch</a>-->
                    </div>
                </div>

                <!-- Main Nav -->
                <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                    <div class="logo-header logo-dark">
                        <a th:href="@{../index}"><img alt="" th:src="@{../user/images/logo.png}"></a>
                    </div>
                    <form class="search-input">
                        <div class="input-group">
                            <input aria-label="Text input with dropdown button" class="form-control" placeholder="Search Books Here"
                                   type="text">
                            <button class="btn" type="button"><i class="flaticon-loupe"></i></button>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}"><span>Home</span></a></li>
                        <li><a th:href="@{about-us}"><span>About Us</span></a></li>
                        <li><a th:href="@{books-list-view-sidebar}"><span>Bookshelves</span></a></li>
                        <li><a th:href="@{blog-list-sidebar}"><span>Blog</span></a></li>
                        <!--                        <li><a th:href="@{pricing}"><span>Pricing</span></a></li>-->
                        <li><a th:href="@{contact-us}"><span>Contact Us</span></a></li>
                    </ul>
                    <div class="dz-social-icon">
                        <ul>
                            <li><a class="fab fa-facebook-f" target="_blank"
                                   th:href="@{https://www.facebook.com/dexignzone}"></a></li>
                            <li><a class="fab fa-twitter" target="_blank"
                                   th:href="@{https://twitter.com/dexignzones}"></a></li>
                            <li><a class="fab fa-linkedin-in" target="_blank"
                                   th:href="@{https://www.linkedin.com/showcase/3686700/admin/}"></a></li>
                            <li><a class="fab fa-instagram" target="_blank"
                                   th:href="@{https://www.instagram.com/website_templates__/}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- Main Header End -->
</header>
<!-- Header End -->
