<head th:fragment="head">
    <!-- Meta -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords"/>
    <meta content="DexignZone" name="author"/>
    <meta content="" name="robots"/>
    <meta content="Bookland-Book Store Ecommerce Website" name="description"/>
    <meta content="Bookland-Book Store Ecommerce Website" property="og:title"/>
    <meta content="Bookland-Book Store Ecommerce Website" property="og:description"/>
    <meta content="https://makaanlelo.com/tf_products_007/bookland/xhtml/social-image.png" property="og:image"/>
    <meta content="telephone=no" name="format-detection">

    <!-- FAVICONS ICON -->
    <link rel="icon" th:href="@{/user/images/favicon.png}" type="image/x-icon"/>

    <!-- PAGE TITLE HERE -->
    <title>Digital Tome</title>

    <!-- MOBILE SPECIFIC -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/icons/fontawesome/css/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/vendor/bootstrap-select/dist/css/bootstrap-select.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/vendor/swiper/swiper-bundle.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/vendor/animate/animate.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/vendor/nouislider/nouislider.min.css}" type="text/css">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">


    <!-- GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="/user/js/jquery.min.js"></script><!-- JQUERY MIN JS -->
    <script src="/user/vendor/wow/wow.min.js"></script><!-- WOW JS -->
    <script src="/user/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP MIN JS -->
    <script src="/user/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT MIN JS -->
    <script src="/user/vendor/swiper/swiper-bundle.min.js"></script><!-- SWIPER JS -->
    <script src="/user/vendor/countdown/counter.js"></script><!-- COUNTER JS -->
    <script src="/user/vendor/wnumb/wNumb.js"></script><!-- WNUMB -->
    <script src="/user/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="/user/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="/user/vendor/nouislider/nouislider.min.js"></script><!-- NOUSLIDER MIN JS-->
    <script src="/user/js/dz.carousel.js"></script><!-- DZ CAROUSEL JS -->
    <script src="/user/js/dz.ajax.js"></script><!-- AJAX -->
    <script src="/user/js/custom.js"></script><!-- CUSTOM JS -->
    <script src='/user/www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
    <!-- Bootstrap JS and dependencies -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>