<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head :: head}">
    <title>Home</title>
</head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>

    <header th:replace="~{layout/header :: header}"></header>

    <div class="page-content bg-grey" >
        <section class="content-inner-1">
            <div class="container" th:object="${book}">
                <div class="row book-grid-row style-4 m-b60">
                    <div class="col">
                        <div class="dz-box">
                            <div class="dz-media">
                                <img alt="book" th:src="${book.bookCover}">
                            </div>
                            <div class="dz-content">
                                <div class="dz-header">
                                    <h3 class="title" th:text="${book.title}">Think and Grow Rich</h3>
                                    <div class="shop-item-rating">
                                        <div class="d-lg-flex d-sm-inline-flex d-flex align-items-center">
                                            <ul class="dz-rating">
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-yellow"></i></li>
                                                <li><i class="flaticon-star text-muted"></i></li>
                                            </ul>
                                            <h6 class="m-b0">4.0</h6>
                                        </div>
                                        <div class="social-area">
                                            <ul class="dz-social-icon style-3">
                                                <li><a href="https://www.facebook.com/dexignzone" target="_blank"><i
                                                        class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="https://twitter.com/dexignzones" target="_blank"><i
                                                        class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="https://www.whatsapp.com/" target="_blank"><i
                                                        class="fa-brands fa-whatsapp"></i></a></li>
                                                <li><a href="https://www.google.com/intl/en-GB/gmail/about/"
                                                       target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="dz-body">
                                    <div class="book-detail">
                                        <ul class="book-info">
                                            <li>
                                                <div class="writer-info">
                                                    <div>
<!--                                                        <img src="https://th.bing.com/th/id/OIP.W0UYuzxW45gPc-dZXfCKMQHaGj?rs=1&pid=ImgDetMain" alt="book" />-->
                                                        <span>Writen by</span>
                                                        <div th:each="author : ${book.authorEntityList}">
                                                            <span th:text="${author.getName()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
<!--                                            <li><span>Publisher</span>Printarea Studios</li>-->
                                            <li>
                                                <span>Year</span>
                                                <span th:field="${book.getPublicationDate()}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="text-1" th:text="${book.description}"></p>

                                    <div class="book-footer">
                                        <div class="price">
                                            <h5 th:text="${book.point} + ' '">$54.78</h5> <span>Point</span>
<!--                                            <p class="p-lr10">$70.00</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <div class="product-description tabs-site-button">
                            <ul class="nav nav-tabs">
                                <li><a class="active" data-bs-toggle="tab" href="#development-1">Customer Reviews</a></li>
                                <li><a                data-bs-toggle="tab" href="#graphic-design-1">Details Product</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="development-1">
                                    <div class="clear" id="comment-list">
                                        <div class="post-comments comments-area style-1 clearfix">
                                            <h4 class="comments-title" id="totalComments">4 COMMENTS</h4>
                                            <div id="comment">
                                                <div class="reply-box">
                                                    <form id="commentForm" method="POST" style="margin-bottom: 32px">
                                                        <div class="form-group" style="margin: 12px 0">
                                                            <label for="content"></label>
                                                            <input class="form-control" id="content" name="content" placeholder="Enter Comment"/>
                                                            <input th:if="${book!=null}" id="bookId" name="bookId" type="hidden" th:value="${book.id}">
                                                            <input th:if="${account!=null}" id="accountId" name="accountId" type="hidden" th:value="${account.id}">                                                    <input id="parentCommentId" name="parentCommentId" type="hidden" />
                                                            <input id="commentId" name="commentId" type="hidden" />
                                                        </div>
                                                        <span id="message"></span>
                                                        <div class="form-group">
                                                            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment"/>
                                                        </div>
                                                    </form>
                                                </div>
                                                <ol class="comment-list">
                                                    <li class="comment even thread-even depth-1 comment">
                                                        <div id="showComments"></div>
                                                        <div class="row page">
                                                            <div class="col-md-6">
                                                                <p class="page-text">Showing 12 from 50 data</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <nav aria-label="Blog Pagination">
                                                                    <ul class="pagination style-1 p-t20">
                                                                        <li class="page-item"><a class="page-link prev"
                                                                                                 href="javascript:void(0);">Prev</a></li>
                                                                        <li class="page-item"><a class="page-link active"
                                                                                                 href="javascript:void(0);">1</a></li>
                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                                                        <li class="page-item"><a class="page-link next"
                                                                                                 href="javascript:void(0);">Next</a></li>
                                                                    </ul>
                                                                </nav>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="graphic-design-1">
                                    <table class="table border book-overview">
                                        <tr>
                                            <th>Book Title</th>
                                            <td th:text="${book.title}"></td>
                                        </tr>
                                        <tr>
                                            <th>Author</th>
                                            <td th:each="author : ${book.authorEntityList}">
                                                <span th:text="${author.getName()}"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>ISBN</th>
                                            <td>121341381648 (ISBN13: 121341381648)</td>
                                        </tr>
                                        <tr>
                                            <th>Ediiton Language</th>
                                            <td>English</td>
                                        </tr>
                                        <tr>
                                            <th>Book Format</th>
                                            <td>Paperback, 450 Pages</td>
                                        </tr>
                                        <tr>
                                            <th>Date Published</th>
                                            <td>August 10th 2019</td>
                                        </tr>
                                        <tr>
                                            <th>Publisher</th>
                                            <td>Wepress Inc.</td>
                                        </tr>
                                        <tr>
                                            <th>Pages</th>
                                            <td>520</td>
                                        </tr>
                                        <tr>
                                            <th>Lesson</th>
                                            <td>7</td>
                                        </tr>
                                        <tr>
                                            <th>Topic</th>
                                            <td>360</td>
                                        </tr>
                                        <tr class="tags">
                                            <th>Tags</th>
                                            <td>
                                                <a class="badge" href="javascript:void(0);">Drama</a>
                                                <a class="badge" href="javascript:void(0);">Advanture</a>
                                                <a class="badge" href="javascript:void(0);">Survival</a>
                                                <a class="badge" href="javascript:void(0);">Biography</a>
                                                <a class="badge" href="javascript:void(0);">Trending2022</a>
                                                <a class="badge" href="javascript:void(0);">Bestseller</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mt-5 mt-xl-0">
                        <div class="widget">
                            <h4 class="widget-title">Related Books</h4>
                            <div class="row">
                                <div class="col-xl-12 col-lg-6">
                                    <div class="dz-shop-card style-5">
                                        <div class="dz-media">
                                            <img alt="" th:src="@{../user/images/books/grid/book15.jpg}">
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="subtitle">Terrible Madness</h5>
                                            <ul class="dz-tags">
                                                <li>THRILLE,</li>
                                                <li>DRAMA,</li>
                                                <li>HORROR</li>
                                            </ul>
                                            <div class="price">
                                                <span class="price-num">$45.4</span>
                                                <del>$98.4</del>
                                            </div>
                                            <a class="btn btn-secondary btnhover btnhover2"
                                               th:href="@{shop-cart}">
                                                <i class="fa-regular fa-eye me-2"></i>Read now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="dz-shop-card style-5">
                                        <div class="dz-media">
                                            <img alt="" th:src="@{../user/images/books/grid/book3.jpg}">
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="subtitle">Battle Drive</h5>
                                            <ul class="dz-tags">
                                                <li>THRILLE,</li>
                                                <li>DRAMA,</li>
                                                <li>HORROR</li>
                                            </ul>
                                            <div class="price">
                                                <span class="price-num">$45.4</span>
                                                <del>$98.4</del>
                                            </div>
                                            <a class="btn btn-secondary btnhover btnhover2"
                                               th:href="@{shop-cart}">
                                                <i class="fa-regular fa-eye me-2"></i>Read now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <div class="dz-shop-card style-5 mb-0">
                                        <div class="dz-media">
                                            <img alt="" th:src="@{../user/images/books/grid/book5.jpg}">
                                        </div>
                                        <div class="dz-content">
                                            <h5 class="subtitle">Terrible Madness</h5>
                                            <ul class="dz-tags">
                                                <li>THRILLE,</li>
                                                <li>DRAMA,</li>
                                                <li>HORROR</li>
                                            </ul>
                                            <div class="price">
                                                <span class="price-num">$45.4</span>
                                                <del>$98.4</del>
                                            </div>
                                            <a class="btn btn-secondary btnhover btnhover2"
                                               th:href="@{shop-cart}">
                                                <i class="fa-regular fa-eye me-2"></i>See details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn cần đăng nhập để gửi bình luận.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <a href="/login" class="btn btn-primary">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer th:replace="~{layout/footer :: footer}"></footer>
    <!-- Footer End -->

    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
<script src="/rest/comment.js"></script>
</body>
</html>