<head th:fragment="head">
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="DexignZone" />
    <meta name="robots" content="" />
    <meta name="description" content="Bookland-Book Store Ecommerce Website"/>
    <meta property="og:title" content="Bookland-Book Store Ecommerce Website"/>
    <meta property="og:description" content="Bookland-Book Store Ecommerce Website"/>
    <meta property="og:image" content="https://makaanlelo.com/tf_products_007/bookland/xhtml/social-image.png"/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" type="image/x-icon" th:href="@{../images/favicon.png}"/>

    <!-- PAGE TITLE HERE -->
    <title>Digital Tome</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../icons/fontawesome/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../vendor/bootstrap-select/dist/css/bootstrap-select.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../vendor/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../vendor/animate/animate.css}">

    <!-- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="../js/jquery.min.js"></script><!-- JQUERY MIN JS -->
    <script src="../vendor/wow/wow.min.js"></script><!-- WOW JS -->
    <script src="../vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP MIN JS -->
    <script src="../vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT MIN JS -->
    <script src="../vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="../vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="../vendor/swiper/swiper-bundle.min.js"></script><!-- SWIPER JS -->
    <script src="../js/dz.carousel.js"></script><!-- DZ CAROUSEL JS -->
    <script src="../js/dz.ajax.js"></script><!-- AJAX -->
    <script src="../js/custom.js"></script><!-- CUSTOM JS -->
</head>