<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head :: head}"><title>Home</title></head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>
    <!-- construction-page -->
    <div class="under-construct">
        <div class="inner-box">
            <div class="logo-header logo-dark">
                <a th:href="@{/}"><img alt="" th:src="@{../user/images/logo.png}"></a>
            </div>
            <div class="dz-content">
                <h2 class="dz-title">Something went wrong<br/>Error <span class="text-primary" th:data-text="${status}" th:text="${status}">Maintenance</span></h2>
                <p th:text="${errorMessage}"></p>
                <!--                <p>This is the Technical Problems Page. <br> Or any other page.</p>-->
                <!--                <div class="dz_error" th:data-text="${status}" th:text="${status}">Status</div>-->
                <a class="btn btn-primary btn-border btnhover white-border" th:href="@{/index}">BACK TO HOMEPAGE</a>
            </div>
        </div>
        <img alt="" class="uc-bg" th:src="@{../user/images/background/uc.jpg}"/>
    </div>
    <!-- construction-page -->
</div>

</body>
</html>