

<head th:fragmet="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="Bookland-Book Store Ecommerce Website"/>
    <meta property="og:title" content="Bookland-Book Store Ecommerce Website"/>
    <meta property="og:description" content="Bookland-Book Store Ecommerce Website"/>
    <meta property="og:image" content="../../makaanlelo.com/tf_products_007/bookland/xhtml/social-image.html"/>
    <meta name="format-detection" content="telephone=no">


    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />


    <title>Bookland-Book Store Ecommerce Website</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{../user/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../user/icons/fontawesome/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../user/vendor/bootstrap-select/dist/css/bootstrap-select.min.css}">



    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

</head>

