<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head}"><title>Home</title></head>

<style>
    .my-image {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .my-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Đảm bảo ảnh không bị méo mó */
    }

    .button-wrapper {
        display: flex;
        justify-content: center;  /* Center the buttons horizontally */
        gap: 10px; /* Add some space between buttons */
    }

    .btn-custom {
        flex: 0 1 auto; /* Allow buttons to resize based on their content */
        padding: 5px 10px; /* Reduce padding to make buttons smaller */
        font-size: 14px; /* Optional: Adjust font size if needed */
    }

    .btn {
        text-align: center; /* Center text inside buttons */
    }
</style>


</style>
<body id="bg">
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>
    <header th:replace="layout/header :: header"></header>

    <!-- Content -->
    <div class="page-content bg-white">
        <!-- contact area -->
        <div class="content-block">
            <!-- Browse Jobs -->
            <section class="content-inner bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 m-b30">
                            <div class="sticky-top">
                                <div class="shop-account">
                                    <div class="account-detail text-center">
                                        <div class="my-image">
                                            <a href="javascript:void(0);">
                                                <img alt="" th:src="${profileDto.avatarPath}" >
                                            </a>
                                        </div>

                                        <form th:action="@{/profileUrl}" method="post" enctype="multipart/form-data">
                                            <div class="account-title">
                                                <div class="button-container">
                                                    <input type="file" class="form-control" id="url" name="file" accept="image/*">
                                                    <br>
                                                    <div class="button-wrapper">
                                                        <button type="submit" name="action" value="save" class="btn btn-primary btn-custom">Save</button>
                                                        <button type="submit" name="action" value="remove" class="btn btn-primary btn-custom">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <ul class="account-list">
                                        <li>
                                            <a class="active" th:href="@{/my-profile}"><i aria-hidden="true"
                                                                                          class="far fa-user"></i>
                                                <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/shop-cart}"><i class="flaticon-shopping-cart-1"></i>
                                                <span>My Cart</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/wishlist}"><i aria-hidden="true" class="far fa-heart"></i>
                                                <span>Wishlist</span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/books-grid-view}"><i aria-hidden="true"
                                                                                class="fa fa-briefcase"></i>
                                                <span>Shop</span></a>
                                        </li>
                                        <li>
                                            <a href="/changePassword"><i class="fa-solid fa-unlock" aria-hidden="true"></i>
                                                <span>Change Password</span></a>
                                        </li>
                                        <li>
                                            <a href="/logout"><i aria-hidden="true" class="fas fa-sign-out-alt"></i>
                                                <span>Log Out</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 m-b30">
                            <div class="shop-bx shop-profile">
                                <div class="shop-bx-title clearfix">
                                    <h5 class="text-uppercase">Basic Information</h5>
                                </div>

                                <form method="post" th:action="@{/profile}" th:object="${profileDto}" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{avatarPath}"/>

                                    <div class="row m-b30">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput1" class="form-label">Your Name:</label>
                                                <input th:field="*{fullName}" type="text" class="form-control" id="formcontrolinput1" placeholder="Full Name">
                                                <div th:if="${#fields.hasErrors('fullName')}" class="alert alert-danger" th:errors="*{fullName}"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput2" class="form-label">DateOfBirth:</label>
                                                <input th:field="*{dateOfBirth}" type="date" class="form-control" id="formcontrolinput2" placeholder="Date Of Birth ">
                                                <div th:if="${#fields.hasErrors('dateOfBirth')}" class="alert alert-danger" th:errors="*{dateOfBirth}"></div>
                                            </div>
                                        </div>


                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput3" class="form-label">Phone:</label>
                                                <input th:field="*{phone}" type="text" class="form-control" id="formcontrolinput3" placeholder="Phone Number">
                                                <div th:if="${#fields.hasErrors('phone')}" class="alert alert-danger" th:errors="*{phone}"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput7" class="form-label">Point</label>
                                                <input th:field="*{point}" type="number" class="form-control" id="formcontrolinput7" placeholder="Point" readonly>
                                            </div>
                                        </div>


                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-3">
                                                <label for="formcontrolinput4" class="form-label">Address:</label>
                                                <input th:field="*{address}" type="text" class="form-control" id="formcontrolinput4" placeholder="Address">
                                            </div>
                                        </div>


<!--                                        <div class="col-lg-6 col-md-6">-->
<!--                                            <div class="mb-3">-->
<!--                                                <label for="formcontrolinput6" class="form-label">Notification:</label>-->
<!--                                                <select th:field="*{isNotification}" class="form-control" id="formcontrolinput6">-->
<!--                                                    <option value="0">Turn Off</option>-->
<!--                                                    <option value="1">Turn On</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <div class="col-lg-12 col-md-12">
                                            <div class="mb-3">
                                                <label for="exampleFormControlTextarea" class="form-label">Description:</label>
                                                <input type="text" th:field="*{description}" class="form-control" id="exampleFormControlTextarea" placeholder="Description"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btnhover">Save</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Browse Jobs END -->
        </div>
    </div>
    <!-- Content END-->
    <footer th:replace="layout/footer :: footer"></footer>

    <script type="text/javascript">
        function trimFullName() {
            var fullNameInput = document.getElementById("formcontrolinput1");
            fullNameInput.value = fullNameInput.value.trim().replace(/\s{2,}/g, ' ');
        }
    </script>
    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>