<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>

    <header th:replace="layout/header :: header"></header>


    <div class="page-content">
        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
             style="background-image:url(static/images/background/bg3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Blog Grid</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}"> Home</a></li>
                            <li class="breadcrumb-item">Blog Grid</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End-->
        <!-- Blog Large -->
        <section class="content-inner-1 bg-img-fix">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="dz-blog style-1 bg-white m-b30">
                            <div class="dz-media dz-img-effect zoom">
                                <img alt="" th:src="@{../images/blog/large/blog2.jpg}">
                            </div>
                            <div class="dz-info">
                                <h4 class="dz-title">
                                    <a th:href="@{blog-details}">The library is inhabited by spirits that come out of
                                        the pages.</a>
                                </h4>
                                <p class="m-b0">Sed auctor magna lacus, in placerat nisl sollicitudin ut. Morbi feugiat
                                    ante velit, eget convallis arcu iaculis vel. Fusce in rhoncus quam. Integer dolor
                                    arcu, ullamcorper sed auctor.</p>
                                <div class="dz-meta meta-bottom">
                                    <ul class="border-0 pt-0">
                                        <li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>7 March, 2022
                                        </li>
                                        <li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a
                                                href="javascript:void(0);"> Johne Doe</a></li>
                                        <li class="post-comment"><a href="javascript:void(0);"><i
                                                class="far fa-comment-alt fa-fw"></i><span>15</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="dz-blog style-1 bg-white m-b30">
                            <div class="dz-media dz-img-effect zoom">
                                <img alt="/" th:src="@{../images/blog/large/blog1.jpg}">
                            </div>
                            <div class="dz-info">
                                <h4 class="dz-title">
                                    <a th:href="@{blog-detail}">The 5 Secrets About Library Only A Handful Of People
                                        Know.</a>
                                </h4>
                                <p class="m-b0">Sed auctor magna lacus, in placerat nisl sollicitudin ut. Morbi feugiat
                                    ante velit, eget convallis arcu iaculis vel. Fusce in rhoncus quam. Integer dolor
                                    arcu, ullamcorper sed auctor.</p>
                                <div class="dz-meta meta-bottom">
                                    <ul class="border-0 pt-0">
                                        <li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>7 March, 2022
                                        </li>
                                        <li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a
                                                href="javascript:void(0);"> Johne Doe</a></li>
                                        <li class="post-comment"><a href="javascript:void(0);"><i
                                                class="far fa-comment-alt fa-fw"></i><span>15</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="dz-blog style-1 bg-white m-b30">
                            <div class="dz-media dz-img-effect zoom">
                                <img alt="/" th:src="@{../images/blog/large/blog3.jpg}">
                            </div>
                            <div class="dz-info">
                                <h4 class="dz-title">
                                    <a th:href="@{blog-details}">Most Effective Ways To Overcome Library's Problem.</a>
                                </h4>
                                <p class="m-b0">Sed auctor magna lacus, in placerat nisl sollicitudin ut. Morbi feugiat
                                    ante velit, eget convallis arcu iaculis vel. Fusce in rhoncus quam. Integer dolor
                                    arcu, ullamcorper sed auctor.</p>
                                <div class="dz-meta meta-bottom">
                                    <ul class="border-0 pt-0">
                                        <li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>7 March, 2022
                                        </li>
                                        <li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a
                                                href="javascript:void(0);"> Johne Doe</a></li>
                                        <li class="post-comment"><a href="javascript:void(0);"><i
                                                class="far fa-comment-alt fa-fw"></i><span>15</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="dz-blog style-1 bg-white m-b30">
                            <div class="dz-media dz-img-effect zoom">
                                <img alt="" th:src="@{../images/blog/large/blog4.jpg}">
                            </div>
                            <div class="dz-info">
                                <h4 class="dz-title">
                                    <a th:href="@{blog-detail}">You Should Experience Library At Least Once In
                                        Lifetime</a>
                                </h4>
                                <p class="m-b0">Sed auctor magna lacus, in placerat nisl sollicitudin ut. Morbi feugiat
                                    ante velit, eget convallis arcu iaculis vel. Fusce in rhoncus quam. Integer dolor
                                    arcu, ullamcorper sed auctor.</p>
                                <div class="dz-meta meta-bottom">
                                    <ul class="border-0 pt-0">
                                        <li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>7 March, 2022
                                        </li>
                                        <li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a
                                                href="javascript:void(0);"> Johne Doe</a></li>
                                        <li class="post-comment"><a href="javascript:void(0);"><i
                                                class="far fa-comment-alt fa-fw"></i><span>15</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Blog Pagination">
                    <ul class="pagination text-center style-1 p-t20">
                        <li class="page-item"><a class="page-link prev" href="javascript:void(0);">Prev</a></li>
                        <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link next" href="javascript:void(0);">Next</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>


    <footer th:replace="layout/footer :: footer"></footer>


    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>