<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head :: head}">
    <title>Home</TITLE>
</head>
<body>
<header th:replace="~{layout/header :: header}"></header>
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <label>
                            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                        </label>
                    </div>
                    <div id="searchResults" style="display: none;">
                        <!-- Search results will be appended here -->
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6 userInfo">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img th:src="${account.avatarPath}" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0" th:text="${account.fullname}"></h6>
<!--                                    <small>Last seen: 2 hours ago</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0" id="conversation">
                        </ul>
                    </div>
                    <form id="messageForm" class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input type="hidden" id="sender" class="form-control" placeholder="Your name" th:value="${account.username}"> <br>
                            <input type="hidden" id="receiver" class="form-control" placeholder="Receiver's name"> <br>
                            <label for="content"></label>
                            <input type="text" id="content" class="form-control" placeholder="Aa"
                                                                style="margin-right: 64px; border-radius: 64px"
                                                                required>
                            <span>
                                <button type="submit"
                                        class="btn btn-info"
                                        style="border-radius: 64px">
                                    Send
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/rest/message.js"></script>
</body>
</html>