<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}">
    <title>Home</title>
</head>
<div class="container">
    <div id="comment">
        <ol class="comment-list">
            <li class="comment even thread-even depth-1 comment" id="comment-2">
                <div id="showComments"></div>
            </li>
        </ol>
    </div>

    <div class="reply-box">
        <form id="commentForm" method="POST">
            <div class="form-group">
                <input class="form-control" id="content" name="content" placeholder="Enter Comment" required rows="5"/>
                <input type="hidden" id="parentCommentId" name="parentCommentId" />
                <input type="hidden" id="commentId" name="commentId" />
            </div>
            <span id="message"></span>
            <div class="form-group">

                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Post Comment"/>
            </div>
        </form>
    </div>
</div>

<script>
    function showComments() {
        $.ajax({
            //Get comment html code
            url: "http://localhost:8080/api/comments/test",
            method: "GET",
            success: function (response) {
                $('#showComments').html(response);
            }
        })
    }

    $(document).ready(function () {

        showComments();

        $('#commentForm').on('submit', function (event) {
            event.preventDefault();
            var formData = $(this).serializeArray();
            var formDataObject = {};
            $.each(formData,
                function (i, v) {
                    formDataObject[v.name] = v.value;
                });
            console.log(formDataObject);

            var url = "http://localhost:8080/api/comments";
            var method = "POST";
            if ($('#submit').val() === "Edit Comment") {
                const commentId = $('#commentId').val();
                url = `http://localhost:8080/api/comments/${commentId}`;
                method = "PUT";
            }
            $.ajax({
                //Post comment
                url: url,
                method: method,
                data: formDataObject,
                dataType: 'json',
                xhrFields: {
                    withCredentials: false
                },

                success: function (response) {
                    $('#submit').val('Post Comment');
                    $('#content').val('');
                    $('#parentCommentId').val('');
                    $('#commentId').val('');
                    $('.reply-box').hide();
                    showComments();
                }
            })
        });

        $(document).on('click', '.reply', function () {
            // Reply to this id
            const commentId = $(this).attr("id");
            console.log('Button ID:', commentId); // Debugging: Check if the button ID is retrieved
            $('#parentCommentId').val(commentId);
            console.log('Hidden Input Value:', $('#parentCommentId').val()); // Debugging: Check if the value is set
            $('.reply-box').insertAfter($(this).closest('.comment, .reply')).show();
            $('#content').focus();
        });

        $(document).on('click', '.edit', function () {
            const commentId = $(this).closest('.comment-body').find('.reply').attr('id');
            const content = $(this).closest('.comment-body').find('.comment-content p').text();
            console.log('Edit comment with ID:', commentId);
            $('#content').val(content);
            $('#commentId').val(commentId);
            $('#submit').val('Edit Comment');
            $('.reply-box').insertAfter($(this).closest('.comment, .reply')).show();
            $('#content').focus();
        });

        $(document).on('click', '.delete', function () {
            const commentId = $(this).attr("id");
            console.log('Delete comment with ID:', commentId);
            $.ajax({
                url: `/api/comments/${commentId}`,
                method: 'DELETE',
                success: function () {
                    showComments();
                },
                error: function () {
                    console.error('Failed to delete comment');
                }
            });
        });
    });
</script>
</html>