<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>
    <!-- Header -->
    <header th:replace="layout/header :: header"></header>
    <!-- Header End -->

    <div class="page-content">
        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
             style="background-image:url(static/images/background/bg3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>FAQ's</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}"> Home</a></li>
                            <li class="breadcrumb-item">FAQ's</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End-->
        <!-- FAQ Content Start -->
        <section class="main-faq-content content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-4">
                        <div class="faq-content-box">
                            <div class="section-head">
                                <h2 class="title">What Is Bookland?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation</p>
                            </div>
                            <div class="faq-accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h3 aria-controls="collapseOne" aria-expanded="false" class="title"
                                                data-bs-target="#collapseOne" data-bs-toggle="collapse"><span>Cras turpis felis, elementum sed mi at ?</span>
                                                <span class="icon"><i aria-hidden="true"
                                                                      class="fa fa-angle-left"></i></span></h3>
                                        </div>
                                        <div aria-labelledby="headingOne" class="collapse accordion-collapse"
                                             data-bs-parent="#accordionExample" id="collapseOne">
                                            <div class="card-body">
                                                <p>Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate
                                                    sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa,
                                                    id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h3 aria-controls="collapseTwo" aria-expanded="false" class="title"
                                                data-bs-target="#collapseTwo" data-bs-toggle="collapse"><span>Vestibulum nibh risus, in neque eleifen ?</span>
                                                <span class="icon"><i aria-hidden="true"
                                                                      class="fa fa-angle-left"></i></span></h3>
                                        </div>
                                        <div aria-labelledby="headingTwo" class="collapse accordion-collapse"
                                             data-bs-parent="#accordionExample" id="collapseTwo">
                                            <div class="card-body">
                                                <p>Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate
                                                    sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa,
                                                    id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h3 aria-controls="collapseThree" aria-expanded="false" class="title"
                                                data-bs-target="#collapseThree" data-bs-toggle="collapse"><span>Donec maximus, sapien id auctor ?</span>
                                                <span class="icon"><i aria-hidden="true"
                                                                      class="fa fa-angle-left"></i></span></h3>
                                        </div>
                                        <div aria-labelledby="headingThree" class="collapse accordion-collapse"
                                             data-bs-parent="#accordionExample" id="collapseThree">
                                            <div class="card-body">
                                                <p>Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate
                                                    sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa,
                                                    id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1 mb-4">
                        <div class="faq-img-box wow left-animation rounded-md" data-wow-delay="0.2s">
                            <img alt="FAQ Image" th:src="@{../user/images/about/pic2.jpg}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-faq-content bg-light content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="faq-img-box rounded-md">
                            <img alt="FAQ Image" th:src="@{../user/images/about/pic1.jpg}">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center mb-4">
                        <div class="faq-content-box">
                            <div class="section-head">
                                <h2 class="title">Managing Books</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation</p>
                            </div>
                            <div class="faq-accordion">
                                <div class="accordion" id="accordionExample2">
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h3 aria-controls="collapseFour" aria-expanded="false" class="title"
                                                data-bs-target="#collapseFour" data-bs-toggle="collapse"><span>Cras turpis felis, elementum sed mi at ?</span>
                                                <span class="icon"><i aria-hidden="true"
                                                                      class="fa fa-angle-left"></i></span></h3>
                                        </div>
                                        <div aria-labelledby="headingFour" class="collapse accordion-collapse"
                                             data-bs-parent="#accordionExample2" id="collapseFour">
                                            <div class="card-body">
                                                <p>Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate
                                                    sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa,
                                                    id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h3 aria-controls="collapseFive" aria-expanded="false" class="title"
                                                data-bs-target="#collapseFive" data-bs-toggle="collapse"><span>Vestibulum nibh risus, in neque eleifen ?</span>
                                                <span class="icon"><i aria-hidden="true"
                                                                      class="fa fa-angle-left"></i></span></h3>
                                        </div>
                                        <div aria-labelledby="headingFive" class="collapse accordion-collapse"
                                             data-bs-parent="#accordionExample2" id="collapseFive">
                                            <div class="card-body">
                                                <p>Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate
                                                    sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa,
                                                    id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h3 aria-controls="collapseSix" aria-expanded="false" class="title"
                                                data-bs-target="#collapseSix" data-bs-toggle="collapse"><span>Donec maximus, sapien id auctor or?</span>
                                                <span class="icon"><i aria-hidden="true"
                                                                      class="fa fa-angle-left"></i></span></h3>
                                        </div>
                                        <div aria-labelledby="headingSix" class="collapse accordion-collapse"
                                             data-bs-parent="#accordionExample2" id="collapseSix">
                                            <div class="card-body">
                                                <p>Vestibulum nibh risus, lobortis in neque eleifend, varius vulputate
                                                    sem. Donec maximus, sapien id auctor ornare, odio mi luctus massa,
                                                    id rhoncus velit purus eu turpis onec aliquet mauris est.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ Content End -->

        <!-- Feature Box -->
        <section class="content-inner bg-white">
            <div class="container">
                <div class="row sp15">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-users icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">125,663</h2>
                                <p class="font-20">Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-book icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">50,672</h2>
                                <p class="font-20">Book Collections</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-store icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">1,562</h2>
                                <p class="font-20">Our Stores</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="icon-bx-wraper style-2 m-b30 text-center">
                            <div class="icon-bx-lg">
                                <i class="fa-solid fa-leaf icon-cell"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="dz-title counter m-b0">457</h2>
                                <p class="font-20">Famous Writers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feature Box End -->
    </div>

    <!-- Footer -->
    <footer th:replace="layout/footer :: footer"></footer>
    <!-- Footer End -->

    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>