<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head :: head}"><title>Home</title></head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>

    <header th:replace="~{layout/header :: header}"></header>


    <div class="page-content">
        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
             style="background-image:url(static/images/background/bg3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Checkout</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}"> Home</a></li>
                            <li class="breadcrumb-item">Checkout</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End-->

        <!-- contact area -->
        <section class="content-inner-1">
            <!-- Product -->
            <div class="container">
                <form class="shop-form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="widget">
                                <h4 class="widget-title">Billing & Shipping Address</h4>
                                <div class="form-group">
                                    <select class="default-select">
                                        <option value="1">Åland Islands</option>
                                        <option value="2">Afghanistan</option>
                                        <option value="3">Albania</option>
                                        <option value="4">Algeria</option>
                                        <option value="5">Andorra</option>
                                        <option value="6">Angola</option>
                                        <option value="7">Anguilla</option>
                                        <option value="8">Antarctica</option>
                                        <option value="9">Antigua and Barbuda</option>
                                        <option value="10">Argentina</option>
                                        <option value="11">Armenia</option>
                                        <option value="12">Aruba</option>
                                        <option value="13">Australia</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="First Name" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Last Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Company Name" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Address" type="text">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Apartment, suite, unit etc."
                                               type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Town / City" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="State / County" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Postcode / Zip" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Phone" type="text">
                                    </div>
                                </div>
                                <button class="btn btn-primary btnhover mb-3" data-bs-target="#create-an-account" data-bs-toggle="collapse"
                                        type="button">Create an account <i
                                        class="fa fa-arrow-circle-o-down"></i></button>
                                <div class="collapse" id="create-an-account">
                                    <p>Create an account by entering the information below. If you are a returning
                                        customer please login at the top of the page.</p>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" type="password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <button class="btn btn-primary btnhover mb-3" data-bs-target="#different-address" data-bs-toggle="collapse"
                                    type="button">Ship to a different address <i
                                    class="fa fa-arrow-circle-o-down"></i></button>
                            <div class="collapse" id="different-address">
                                <p>If you have shopped with us before, please enter your details in the boxes below. If
                                    you are a new customer please proceed to the Billing & Shipping section.</p>
                                <div class="form-group">
                                    <select class="default-select">
                                        <option value="">Åland Islands</option>
                                        <option value="">Afghanistan</option>
                                        <option value="">Albania</option>
                                        <option value="">Algeria</option>
                                        <option value="">Andorra</option>
                                        <option value="">Angola</option>
                                        <option value="">Anguilla</option>
                                        <option value="">Antarctica</option>
                                        <option value="">Antigua and Barbuda</option>
                                        <option value="">Argentina</option>
                                        <option value="">Armenia</option>
                                        <option value="">Aruba</option>
                                        <option value="">Australia</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="First Name" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Last Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Company Name" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Address" type="text">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Apartment, suite, unit etc."
                                               type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Town / City" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="State / County" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Postcode / Zip" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" placeholder="Phone" type="text">
                                    </div>
                                </div>
                                <p>Create an account by entering the information below. If you are a returning customer
                                    please login at the top of the page.</p>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control"
                                          placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="dz-divider bg-gray-dark text-gray-dark icon-center  my-5"><i
                        class="fa fa-circle bg-white text-gray-dark"></i></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <h4 class="widget-title">Your Order</h4>
                            <table class="table-bordered check-tbl">
                                <thead class="text-center">
                                <tr>
                                    <th>IMAGE</th>
                                    <th>PRODUCT NAME</th>
                                    <th>TOTAL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="product-item-img"><img alt="" th:src="@{../user/images/books/grid/book3.jpg}">
                                    </td>
                                    <td class="product-item-name">Prduct Item 5</td>
                                    <td class="product-price">$28.00</td>
                                </tr>
                                <tr>
                                    <td class="product-item-img"><img alt="" th:src="@{../user/images/books/grid/book2.jpg}">
                                    </td>
                                    <td class="product-item-name">Prduct Item 4</td>
                                    <td class="product-price">$36.00</td>
                                </tr>
                                <tr>
                                    <td class="product-item-img"><img alt="" th:src="@{../user/images/books/grid/book4.jpg}">
                                    </td>
                                    <td class="product-item-name">Prduct Item 3</td>
                                    <td class="product-price">$28.00</td>
                                </tr>
                                <tr>
                                    <td class="product-item-img"><img alt="" th:src="@{../user/images/books/grid/book5.jpg}">
                                    </td>
                                    <td class="product-item-name">Prduct Item 2</td>
                                    <td class="product-price">$36.00</td>
                                </tr>
                                <tr>
                                    <td class="product-item-img"><img alt="" th:src="@{../user/images/books/grid/book1.jpg}">
                                    </td>
                                    <td class="product-item-name">Prduct Item 1</td>
                                    <td class="product-price">$28.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form class="shop-form widget">
                            <h4 class="widget-title">Order Total</h4>
                            <table class="table-bordered check-tbl mb-4">
                                <tbody>
                                <tr>
                                    <td>Order Subtotal</td>
                                    <td class="product-price">$125.96</td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td>Free Shipping</td>
                                </tr>
                                <tr>
                                    <td>Coupon</td>
                                    <td class="product-price">$28.00</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td class="product-price-total">$506.00</td>
                                </tr>
                                </tbody>
                            </table>
                            <h4 class="widget-title">Payment Method</h4>
                            <div class="form-group">
                                <input class="form-control" placeholder="Name on Card" type="text">
                            </div>
                            <div class="form-group">
                                <select class="default-select">
                                    <option value="">Credit Card Type</option>
                                    <option value="">Another option</option>
                                    <option value="">A option</option>
                                    <option value="">Potato</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Credit Card Number" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Card Verification Number" type="text">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btnhover" type="button">Place Order Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </section>
        <!-- contact area End-->
    </div>

    <footer th:replace="~{layout/footer :: footer}"></footer>


    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>