<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head :: head}"><title>Home</title></head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>
    <div class="dez-coming-soon style-3">
        <div class="bg-img" style="background-image:url('static/images/background/bg2.jpg');"></div>
        <div class="clearfix dez-coming-bx">
            <div class="dez-content">
                <div class="center-md">
                    <div class="logo top-left m-b30">
                        <a th:href="@{/}"><img alt="" th:src="@{../user/images/logo-white.png}"></a>
                    </div>
                    <h2 class="dez-title mb-2">COMING SOON</h2>
                    <p class="text-white">Our website is coming soon, follow us for update now!</p>

                    <form action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php" class="dzSubscribe"
                          method="post">
                        <div class="ft-subscribe">
                            <div class="dzSubscribeMsg text-white"></div>
                            <div class="ft-row m-b15">
                                <input class="form-control" name="dzEmail" placeholder="Enter Email Address" required="required"
                                       type="email">
                                <button class="btn" name="submit" type="submit" value="Submit"><i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <p class="text-white">And don’t worry, we hate spam too! You can unsubcribe at anytime.</p>
                    </form>

                    <div class="countdown-timer countdown-container">
                        <div class="clock">
                            <div class="clock-item clock-days countdown-time-value">
                                <div class="clock-canvas" id="canvas-days"></div>
                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-days type-time" data-border-color="#fff">Days</p>
                                </div>
                            </div>
                            <div class="clock-item clock-hours countdown-time-value">
                                <div class="clock-canvas" id="canvas-hours"></div>
                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-hours type-time" data-border-color="#fff">Hours</p>
                                </div>
                            </div>
                            <div class="clock-item clock-minutes countdown-time-value">
                                <div class="clock-canvas" id="canvas-minutes"></div>
                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-minutes type-time" data-border-color="#fff">Minutes</p>
                                </div>
                            </div>
                            <div class="clock-item clock-seconds countdown-time-value">
                                <div class="clock-canvas" id="canvas-seconds"></div>
                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-seconds type-time" data-border-color="#fff">Seconds</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-right">
                <ul class="dez-social-icon">
                    <li><a class="fab fa-facebook-f" href="https://www.facebook.com/dexignzone" target="_blank"></a>
                    </li>
                    <li><a class="fab fa-twitter" href="https://twitter.com/dexignzones" target="_blank"></a></li>
                    <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/showcase/3686700/admin/"
                           target="_blank"></a></li>
                    <li><a class="fab fa-instagram" href="https://www.instagram.com/website_templates__/"
                           target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Coming Soon Contant -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade subscribe-box" id="exampleModal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <form action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php" class="dzSubscribe modal-content"
                  method="post">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Subscribe Newsletter</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt labore
                        dolore.</p>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" id="SubscribeInput" name="dzEmail" placeholder="Your Email Address"
                               required="required" type="email">
                        <div class="dzSubscribeMsg"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="site-button gradient radius-md button-lg shadow" type="submit">Subscribe Now</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>