<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"><title>Home</title></head>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    /* styles.css */
    body {
        font-family: Arial, sans-serif;
    }

    .popup {
        display: none; /* Ẩn popup */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối */
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .popup-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        max-width: 60%;
        max-height: 90%;
        overflow: hidden;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .ad-image {
        max-width: 100%;
        height: auto;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
<section class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>

    <!-- Header -->
    <header th:replace="~{layout/header :: header}"></header>

    <div id="popup" class="popup" th:if="${!adsPopup.isEmpty()}">
        <div class="popup-content">
            <span id="closePopupBtn" class="close-btn">&times;</span>
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <a th:each="adPopup : ${adsPopup}" th:href="${adPopup.getLink()}" class="swiper-slide">
                        <div class="swiper-slide"><img th:src="${adPopup.getImageUrl()}" th:alt="${adPopup.getTitle()}" class="ad-image"></div>
                    </a>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <div class="page-content bg-white">
        <!--Swiper Banner Start -->
        <div class="main-slider style-1">
            <div class="main-swiper">
                <div class="swiper-wrapper">
                    <div th:if="${adsHomepage.size() > 0}" class="swiper-slide bg-blue"
                         th:each="ads : ${adsHomepage}"
                         style="background-image: url(../user/images/background/waveelement.png);">
                        <div class="container">
                            <div class="banner-content" th:if="ads!=null">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="swiper-content">
                                            <div class="content-info">
                                                <h6 class="sub-title" data-swiper-parallax="-10">HOT</h6>
                                                <h1 class="title mb-0" data-swiper-parallax="-20" th:text="${ads.getTitle()}">Think and Grow
                                                    Rich</h1>
<!--                                                <ul class="dz-tags" data-swiper-parallax="-30">-->
<!--                                                    <li><a href="javascript:void(0);">Napoleon Hill</a></li>-->
<!--                                                    <li><a href="javascript:void(0);">Business & Strategy</a></li>-->
<!--                                                </ul>-->
                                                <p class="text mb-0" data-swiper-parallax="-40" th:text="${ads.getContent()}">It is a long-established
                                                    fact that a reader will be distracted by the readable content of a
                                                    page when looking at its layout. The point of using Lorem Ipsum is
                                                    that it has a more-or-less normal.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="banner-media" data-swiper-parallax="-100">
                                            <a th:href="${ads.getLink()}">
                                                <img alt="banner-media" style="max-height: 460px" th:src="@{${ads.getImageUrl()}}">
                                            </a>
                                        </div>
<!--                                        <img alt="dots" class="pattern" data-swiper-parallax="-100"-->
<!--                                             th:src="@{../user/images/Group.png}">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${adsHomepage.size() == 0}" class="swiper-slide bg-blue"
                         style="background-image: url(static/user/images/background/waveelement.png);">
                        <div class="container">
                            <div class="banner-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="swiper-content">
                                            <div class="content-info">
                                                <h6 class="sub-title" data-swiper-parallax="-10">BEST MANAGEMENT </h6>
                                                <h1 class="title mb-0" data-swiper-parallax="-20">Think and Grow
                                                    Rich</h1>
                                                <ul class="dz-tags" data-swiper-parallax="-30">
                                                    <li><a href="javascript:void(0);">Napoleon Hill</a></li>
                                                    <li><a href="javascript:void(0);">Business & Strategy</a></li>
                                                </ul>
                                                <p class="text mb-0" data-swiper-parallax="-40">It is a long-established
                                                    fact that a reader will be distracted by the readable content of a
                                                    page when looking at its layout. The point of using Lorem Ipsum is
                                                    that it has a more-or-less normal.</p>
                                                <div class="price" data-swiper-parallax="-50">
                                                    <span class="price-num">$17.2</span>
                                                    <del>$15.25</del>
                                                    <span class="badge badge-danger">15% OFF</span>
                                                </div>
                                                <div class="content-btn" data-swiper-parallax="-60">
                                                    <a class="btn btn-primary btnhover" th:href="@{books-grid-view}">Buy
                                                        Now</a>
                                                    <a class="btn border btnhover ms-4 text-white"
                                                       th:href="@{books-detail}">See Details</a>
                                                </div>
                                            </div>
                                            <div class="partner">
                                                <p>Our partner</p>
                                                <div class="brand-logo">
                                                    <img alt="client" th:src="@{../user/images/partner/partner-1.png}">
                                                    <img alt="client" class="mid-logo"
                                                         th:src="@{../user/images/partner/partner-2.png}">
                                                    <img alt="client" th:src="@{../user/images/partner/partner-3.png}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="banner-media" data-swiper-parallax="-100">
                                            <img alt="banner-media" th:src="@{../user/images/banner/banner-media.png}">
                                        </div>
                                        <img alt="dots" class="pattern" data-swiper-parallax="-100"
                                             th:src="@{../user/images/Group.png}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${adsHomepage.size() == 0}" class="swiper-slide bg-blue"
                         style="background-image: url(static/user/images/background/waveelement.png);">
                        <div class="container">
                            <div class="banner-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="swiper-content">
                                            <div class="content-info">
                                                <h6 class="sub-title" data-swiper-parallax="-10">BEST SELLER</h6>
                                                <h1 class="title mb-0" data-swiper-parallax="-20">Pushing Clouds</h1>
                                                <ul class="dz-tags" data-swiper-parallax="-30">
                                                    <li><a href="javascript:void(0);">Napoleon Hill</a></li>
                                                    <li><a href="javascript:void(0);">Business & Strategy</a></li>
                                                </ul>
                                                <p class="text mb-0" data-swiper-parallax="-40">Lorem ipsum dolor sit
                                                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                    nostrud exercitation ullamco laboris</p>
                                                <div class="price" data-swiper-parallax="-50">
                                                    <span class="price-num">$9.5</span>
                                                    <del>$12.0</del>
                                                    <span class="badge badge-danger">20% OFF</span>
                                                </div>
                                                <div class="content-btn" data-swiper-parallax="-50">
                                                    <a class="btn btn-primary btnhover" th:href="@{books-grid-view}">Buy
                                                        Now</a>
                                                    <a class="btn border btnhover ms-4 text-white"
                                                       th:href="@{books-detail}">See Details</a>
                                                </div>
                                            </div>
                                            <div class="partner">
                                                <p>Our partner</p>
                                                <div class="brand-logo">
                                                    <img alt="client" th:src="@{../user/images/partner/partner-1.png}">
                                                    <img alt="client" class="mid-logo"
                                                         th:src="@{../user/images/partner/partner-2.png}">
                                                    <img alt="client" th:src="@{../user/images/partner/partner-3.png}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="banner-media" data-swiper-parallax="-100">
                                            <img alt="banner-media1" th:src="@{../user/images/banner/banner-media2.png}">
                                        </div>
                                        <img alt="dots" class="pattern" data-swiper-parallax="-100"
                                             th:src="@{../user/images/Group.png}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container swiper-pagination-wrapper">
                    <div class="swiper-pagination-five"></div>
                </div>
            </div>
            <div  class="swiper main-swiper-thumb" style="display: none">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="books-card">
                            <div class="dz-media">
<!--                                <img alt="book" th:src="@{../user/images/books/book16.png}">-->
                            </div>
                            <div class="dz-content">
<!--                                <h5 class="title mb-0">Think and Grow Rich</h5>-->
                                <div class="dz-meta">
                                    <ul>
<!--                                        <li>by Napoleon Hill</li>-->
                                    </ul>
                                </div>
                                <div class="book-footer">
                                    <div class="price">
<!--                                        <span class="price-num">$9.5</span>-->
                                    </div>
                                    <div class="rate">
<!--                                        <i class="flaticon-star text-yellow"></i>-->
<!--                                        <i class="flaticon-star text-yellow"></i>-->
<!--                                        <i class="flaticon-star text-yellow"></i>-->
<!--                                        <i class="flaticon-star text-yellow"></i>-->
<!--                                        <i class="flaticon-star text-yellow"></i>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${adsHomepage.size() == 0}" class="swiper-slide">
                        <div class="books-card2">
                            <div class="dz-media">
                                <img alt="book" th:src="@{../user/images/books/grid/book9.jpg}">
                            </div>
                            <div class="dz-content">
                                <h5 class="title mb-0">Pushing Clouds</h5>
                                <div class="dz-meta">
                                    <ul>
                                        <li>by Jamet Sigh</li>
                                    </ul>
                                </div>
                                <div class="book-footer">
                                    <div class="price">
                                        <span class="price-num">$5.7</span>
                                    </div>
                                    <div class="rate">
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${adsHomepage.size() == 0}" class="swiper-slide">
                        <div class="books-card2">
                            <div class="dz-media">
                                <img alt="book" th:src="@{../user/images/books/book16.png}">
                            </div>
                            <div class="dz-content">
                                <h5 class="title mb-0">Think and Grow Rich</h5>
                                <div class="dz-meta">
                                    <ul>
                                        <li>by Napoleon Hill</li>
                                    </ul>
                                </div>
                                <div class="book-footer">
                                    <div class="price">
                                        <span class="price-num">$9.5</span>
                                    </div>
                                    <div class="rate">
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${adsHomepage.size() == 0}" class="swiper-slide">
                        <div class="books-card2">
                            <div class="dz-media">
                                <img alt="book" th:src="@{../user/images/books/grid/book9.jpg}">
                            </div>
                            <div class="dz-content">
                                <h5 class="title mb-0">Pushing Clouds</h5>
                                <div class="dz-meta">
                                    <ul>
                                        <li>by Jamet Sigh</li>
                                    </ul>
                                </div>
                                <div class="book-footer">
                                    <div class="price">
                                        <span class="price-num">$5.7</span>
                                    </div>
                                    <div class="rate">
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-yellow"></i>
                                        <i class="flaticon-star text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Swiper Banner End-->

        <!--Recommend Section Start-->
        <section class="content-inner-1 bg-grey reccomend">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="title">Recomended For You</h2>
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
<!--                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
<!--                        laboris</p>-->
                </div>
                <!-- Swiper -->
                <div class="swiper-container swiper-two">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="books-card style-1 wow fadeInUp" th:href="@{books-detail}" data-wow-delay="0.1s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book6.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h4 class="title">Adventure</h4>
                                    <span class="price">$18,78</span>
                                    <a class="btn btn-secondary btnhover btnhover2" th:href="@{books-detail}">See Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-1 wow fadeInUp" th:href="@{books-detail}" data-wow-delay="0.2s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book5.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h4 class="title">Take Tango</h4>
                                    <span class="price">$18,78</span>
                                    <a class="btn btn-secondary btnhover btnhover2" th:href="@{books-detail}">See Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-1 wow fadeInUp" th:href="@{books-detail}" data-wow-delay="0.3s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book2.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h4 class="title">Home</h4>
                                    <span class="price">$18,78</span>
                                    <a class="btn btn-secondary btnhover btnhover2" th:href="@{books-detail}">See Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-1 wow fadeInUp" th:href="@{books-detail}" data-wow-delay="0.4s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book16.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h4 class="title">Thunder Stunt</h4>
                                    <span class="price">$18,78</span>
                                    <a class="btn btn-secondary btnhover btnhover2" th:href="@{books-detail}">See Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-1 wow fadeInUp" th:href="@{books-detail}" data-wow-delay="0.5s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book14.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h4 class="title">Heavy Lift</h4>
                                    <span class="price">$18,78</span>
                                    <a class="btn btn-secondary btnhover btnhover2" th:href="@{books-detail}">See Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-1 wow fadeInUp" th:href="@{books-detail}" data-wow-delay="0.6s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book1.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h4 class="title">Real Life</h4>
                                    <span class="price">$18,78</span>
                                    <a class="btn btn-secondary btnhover btnhover2" th:href="@{books-detail}">See Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-1 wow fadeInUp" th:href="@{books-detail}" data-wow-delay="0.7s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book15.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h4 class="title">Terrible</h4>
                                    <span class="price">$18,78</span>
                                    <a class="btn btn-secondary btnhover btnhover2" th:href="@{books-detail}">See Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Recommend Section End-->

        <!-- Book Sale -->
        <section class="content-inner-1">
            <div class="container">
                <div class="section-head book-align">
                    <h2 class="title mb-0">Books on Sale</h2>
                    <div class="pagination-align style-1">
                        <div class="swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
                        <div class="swiper-pagination-two"></div>
                        <div class="swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="swiper-container books-wrapper-3 swiper-four">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book5.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h5 class="title"><a th:href="@{books-detail}">Take Out Tango</a></h5>
                                    <ul class="dz-tags">
                                        <li><a th:href="@{books-grid-view}">SPORTS,</a></li>
                                        <li><a th:href="@{books-grid-view}">DRAMA</a></li>
                                    </ul>
                                    <div class="book-footer">
                                        <div class="rate">
                                            <i class="flaticon-star"></i> 6.8
                                        </div>
                                        <div class="price">
                                            <span class="price-num">$9.5</span>
                                            <del>$12.0</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book11.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h5 class="title"><a  th:href="@{books-detail}">The Missadventure</a></h5>
                                    <ul class="dz-tags">
                                        <li><a th:href="@{books-grid-view}">SPORTS,</a></li>
                                        <li><a th:href="@{books-grid-view}">DRAMA</a></li>
                                    </ul>
                                    <div class="book-footer">
                                        <div class="rate">
                                            <i class="flaticon-star"></i> 6.8
                                        </div>
                                        <div class="price">
                                            <span class="price-num">$9.5</span>
                                            <del>$12.0</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book7.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h5 class="title"><a  th:href="@{books-detail}">Seconds [PART 1]</a></h5>
                                    <ul class="dz-tags">
                                        <li><a th:href="@{books-grid-view}">SPORTS,</a></li>
                                        <li><a th:href="@{books-grid-view}">DRAMA</a></li>
                                    </ul>
                                    <div class="book-footer">
                                        <div class="rate">
                                            <i class="flaticon-star"></i> 6.8
                                        </div>
                                        <div class="price">
                                            <span class="price-num">$9.5</span>
                                            <del>$12.0</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book12.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h5 class="title"><a  th:href="@{books-detail}">The Missadventure</a></h5>
                                    <ul class="dz-tags">
                                        <li><a th:href="@{books-grid-view}">SPORTS,</a></li>
                                        <li><a th:href="@{books-grid-view}">DRAMA</a></li>
                                    </ul>
                                    <div class="book-footer">
                                        <div class="rate">
                                            <i class="flaticon-star"></i> 6.8
                                        </div>
                                        <div class="price">
                                            <span class="price-num">$9.5</span>
                                            <del>$12.0</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book15.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h5 class="title"><a  th:href="@{books-detail}">Terrible Madness</a></h5>
                                    <ul class="dz-tags">
                                        <li><a th:href="@{books-grid-view}">SPORTS,</a></li>
                                        <li><a th:href="@{books-grid-view}">DRAMA</a></li>
                                    </ul>
                                    <div class="book-footer">
                                        <div class="rate">
                                            <i class="flaticon-star"></i> 6.8
                                        </div>
                                        <div class="price">
                                            <span class="price-num">$9.5</span>
                                            <del>$12.0</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="books-card style-3 wow fadeInUp" data-wow-delay="0.6s">
                                <div class="dz-media">
                                    <img alt="book" th:src="@{../user/images/books/grid/book3.jpg}">
                                </div>
                                <div class="dz-content">
                                    <h5 class="title"><a  th:href="@{books-detail}">Battle Drive</a></h5>
                                    <ul class="dz-tags">
                                        <li><a th:href="@{books-grid-view}">SPORTS,</a></li>
                                        <li><a th:href="@{books-grid-view}">DRAMA</a></li>
                                    </ul>
                                    <div class="book-footer">
                                        <div class="rate">
                                            <i class="flaticon-star"></i> 6.8
                                        </div>
                                        <div class="price">
                                            <span class="price-num">$9.5</span>
                                            <del>$12.0</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Book Sale End -->


        <!-- Feature Product End -->

<!--        &lt;!&ndash; Special Offer&ndash;&gt;-->
<!--        <section class="content-inner-2">-->
<!--            <div class="container">-->
<!--                <div class="section-head book-align">-->
<!--                    <h2 class="title mb-0">Special Offers</h2>-->
<!--                    <div class="pagination-align style-1">-->
<!--                        <div class="book-button-prev swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>-->
<!--                        <div class="book-button-next swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="swiper-container book-swiper">-->
<!--                    <div class="swiper-wrapper">-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                                <div class="dz-media">-->
<!--                                    <a th:href="@{books-detail}"><img alt="/" th:src="@{../user/images/blog/blog5.jpg}"></a>-->
<!--                                </div>-->
<!--                                <div class="dz-info">-->
<!--                                    <h4 class="dz-title"><a th:href="@{books-detail}">SECONDS [Part I]</a></h4>-->
<!--                                    <div class="dz-meta">-->
<!--                                        <ul class="dz-tags">-->
<!--                                            <li><a th:href="@{books-detail}">BIOGRAPHY</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">THRILLER</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">HORROR</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                        incididunt ut labore.</p>-->
<!--                                    <div class="bookcard-footer">-->
<!--                                        <a class="btn btn-primary m-t15 btnhover btnhover2" th:href="@{shop-cart}"><i-->
<!--                                                class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>-->
<!--                                        <div class="price-details">-->
<!--                                            $18,78-->
<!--                                            <del>$25</del>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.2s">-->
<!--                                <div class="dz-media">-->
<!--                                    <a th:href="@{books-detail}"><img alt="/" th:src="@{../user/images/blog/blog6.jpg}"></a>-->
<!--                                </div>-->
<!--                                <div class="dz-info">-->
<!--                                    <h4 class="dz-title"><a th:href="@{books-detail}">Terrible Madness</a></h4>-->
<!--                                    <div class="dz-tags">-->
<!--                                        <ul>-->
<!--                                            <li><a th:href="@{books-detail}">BIOGRAPHY</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">THRILLER</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">HORROR</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                        incididunt ut labore.</p>-->
<!--                                    <div class="bookcard-footer">-->
<!--                                        <a class="btn btn-primary m-t15 btnhover btnhover2" th:href="@{shop-cart}"><i-->
<!--                                                class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>-->
<!--                                        <div class="price-details">-->
<!--                                            $18,78-->
<!--                                            <del>$25</del>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                                <div class="dz-media">-->
<!--                                    <a th:href="@{books-detail}"><img alt="/" th:src="@{../user/images/blog/blog7.jpg}"></a>-->
<!--                                </div>-->
<!--                                <div class="dz-info">-->
<!--                                    <h4 class="dz-title"><a th:href="@{books-detail}">REWORK</a></h4>-->
<!--                                    <div class="dz-tags">-->
<!--                                        <ul>-->
<!--                                            <li><a th:href="@{books-detail}">BIOGRAPHY</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">THRILLER</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">HORROR</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                        incididunt ut labore.</p>-->
<!--                                    <div class="bookcard-footer">-->
<!--                                        <a class="btn btn-primary m-t15 btnhover btnhover2" th:href="@{shop-cart}"><i-->
<!--                                                class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>-->
<!--                                        <div class="price-details">-->
<!--                                            $18,78-->
<!--                                            <del>$25</del>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.4s">-->
<!--                                <div class="dz-media">-->
<!--                                    <a th:href="@{books-detail}"><img alt="/" th:src="@{../user/images/blog/blog5.jpg}"></a>-->
<!--                                </div>-->
<!--                                <div class="dz-info">-->
<!--                                    <h4 class="dz-title"><a th:href="@{books-detail}">SECONDS [Part I]</a></h4>-->
<!--                                    <div class="dz-tags">-->
<!--                                        <ul>-->
<!--                                            <li><a th:href="@{books-detail}">BIOGRAPHY</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">THRILLER</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">HORROR</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                        incididunt ut labore.</p>-->
<!--                                    <div class="bookcard-footer">-->
<!--                                        <a class="btn btn-primary m-t15 btnhover btnhover2" th:href="@{shop-cart}"><i-->
<!--                                                class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>-->
<!--                                        <div class="price-details">-->
<!--                                            $18,78-->
<!--                                            <del>$25</del>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                                <div class="dz-media">-->
<!--                                    <a th:href="@{books-detail}"><img alt="/" th:src="@{../user/images/blog/blog6.jpg}"></a>-->
<!--                                </div>-->
<!--                                <div class="dz-info">-->
<!--                                    <h4 class="dz-title"><a th:href="@{books-detail}">Terrible Madness</a></h4>-->
<!--                                    <div class="dz-tags">-->
<!--                                        <ul>-->
<!--                                            <li><a th:href="@{books-detail}">BIOGRAPHY</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">THRILLER</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">HORROR</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                        incididunt ut labore.</p>-->
<!--                                    <div class="bookcard-footer">-->
<!--                                        <a class="btn btn-primary m-t15 btnhover btnhover2" th:href="@{shop-cart}"><i-->
<!--                                                class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>-->
<!--                                        <div class="price-details">-->
<!--                                            $18,78-->
<!--                                            <del>$25</del>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide">-->
<!--                            <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.6s">-->
<!--                                <div class="dz-media">-->
<!--                                    <a th:href="@{books-detail}"><img alt="/" th:src="@{../user/images/blog/blog7.jpg}"></a>-->
<!--                                </div>-->
<!--                                <div class="dz-info">-->
<!--                                    <h4 class="dz-title"><a th:href="@{books-detail}">REWORK</a></h4>-->
<!--                                    <div class="dz-tags">-->
<!--                                        <ul>-->
<!--                                            <li><a th:href="@{books-detail}">BIOGRAPHY</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">THRILLER</a></li>-->
<!--                                            <li><a th:href="@{books-detail}">HORROR</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                        incididunt ut labore.</p>-->
<!--                                    <div class="bookcard-footer">-->
<!--                                        <a class="btn btn-primary m-t15 btnhover btnhover2" th:href="@{shop-cart}"><i-->
<!--                                                class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>-->
<!--                                        <div class="price-details">-->
<!--                                            $18,78-->
<!--                                            <del>$25</del>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        &lt;!&ndash; Special Offer End &ndash;&gt;-->
    </div>

    <!-- Footer -->
    <footer th:replace="~{layout/footer :: footer}"></footer>
    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        // script.js
        document.addEventListener('DOMContentLoaded', function() {
            var popup = document.getElementById('popup');
            var closePopupBtn = document.getElementById('closePopupBtn');

            // Tự động mở popup khi trang tải xong
            popup.style.display = 'flex';

            // Đóng popup khi người dùng nhấn nút đóng
            closePopupBtn.addEventListener('click', function() {
                popup.style.display = 'none';
            });

            // Đóng popup khi người dùng nhấn ra ngoài nội dung popup
            window.addEventListener('click', function(event) {
                if (event.target === popup) {
                    popup.style.display = 'none';
                }
            });

            // Initialize Swiper
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        });
    </script>
</body>
</html>