<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head :: head}"><title>Home</title></head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>

    <header th:replace="~{layout/header :: header}"></header>


    <div class="page-content">
        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
             style="background-image:url(static/images/background/bg3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Pricing Table</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}"> Home</a></li>
                            <li class="breadcrumb-item">Pricing Table</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End-->

        <!-- Pricing Table -->
        <section class="content-inner-1 bg-light">
            <div class="container">
                <div class="row pricingtable-wraper">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricingtable-wrapper style-1 m-b30">
                            <div class="pricingtable-inner">
                                <div class="pricingtable-title">
                                    <h3 class="title">Basic Plan</h3>
                                </div>
                                <div class="pricingtable-price">
                                    <h2 class="pricingtable-bx">$99<small class="pricingtable-type">/Month</small></h2>
                                </div>
                                <p class="text">Aliquam dui lacus, lobortis quis sapien non.</p>
                                <ul class="pricingtable-features">
                                    <li>Graphic Design</li>
                                    <li>Web Design</li>
                                    <li>UI/UX</li>
                                    <li>HTML/CSS</li>
                                    <li>SEO Marketing</li>
                                    <li>Business Analysis</li>
                                </ul>
                                <div class="pricingtable-footer">
                                    <a class="btn btn-primary btnhover3" th:href="@{/pricing}">Start Now <i
                                            class="fa fa-angle-right m-l10"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="pricingtable-wrapper style-1 m-b30">
                            <div class="pricingtable-inner">
                                <div class="pricingtable-title">
                                    <h3 class="title">Standart Plan</h3>
                                </div>
                                <div class="pricingtable-price">
                                    <h2 class="pricingtable-bx">$199<small class="pricingtable-type">/Month</small></h2>
                                </div>
                                <p class="text">Aliquam dui lacus, lobortis quis sapien non.</p>
                                <ul class="pricingtable-features">
                                    <li>Graphic Design</li>
                                    <li>Web Design</li>
                                    <li>UI/UX</li>
                                    <li>HTML/CSS</li>
                                    <li>SEO Marketing</li>
                                    <li>Business Analysis</li>
                                </ul>
                                <div class="pricingtable-footer">
                                    <a class="btn btn-primary btnhover3" th:href="@{/pricing}">Start Now <i
                                            class="fa fa-angle-right m-l10"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="pricingtable-wrapper style-1 m-b30">
                            <div class="pricingtable-inner">
                                <div class="pricingtable-title">
                                    <h3 class="title">Premium Plan</h3>
                                </div>
                                <div class="pricingtable-price">
                                    <h2 class="pricingtable-bx">$149<small class="pricingtable-type">/Month</small></h2>
                                </div>
                                <p class="text">Aliquam dui lacus, lobortis quis sapien non.</p>
                                <ul class="pricingtable-features">
                                    <li>Graphic Design</li>
                                    <li>Web Design</li>
                                    <li>UI/UX</li>
                                    <li>HTML/CSS</li>
                                    <li>SEO Marketing</li>
                                    <li>Business Analysis</li>
                                </ul>
                                <div class="pricingtable-footer">
                                    <a class="btn btn-primary btnhover3" th:href="@{/pricing}">Start Now <i
                                            class="fa fa-angle-right m-l10"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Newsletter -->
        <section class="py-5 newsletter-wrapper"
                 style="background-image: url('static/images/background/bg1.jpg'); background-size: cover;">
            <div class="container">
                <div class="subscride-inner">
                    <div class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
                        <div class="col-xl-7 col-lg-12">
                            <div class="section-head mb-0">
                                <h2 class="title text-white my-lg-3 mt-0">Subscribe our newsletter for newest books
                                    updates</h2>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <form action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php"
                                  class="dzSubscribe style-1" method="post">
                                <div class="dzSubscribeMsg"></div>
                                <div class="form-group">
                                    <div class="input-group mb-0">
                                        <input class="form-control bg-transparent text-white" name="dzEmail" placeholder="Your Email Address"
                                               required="required"
                                               type="email">
                                        <div class="input-group-addon">
                                            <button class="btn btn-primary btnhover" name="submit" type="submit"
                                                    value="Submit">
                                                <span>SUBSCRIBE</span>
                                                <i class="fa-solid fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Newsletter End -->
    </div>


    <footer th:replace="~{layout/footer :: footer}"></footer>


    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>