<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
	<div class="page-wraper">
		<div id="loading-area" class="preloader-wrapper-1">
			<div class="preloader-inner">
				<div class="preloader-shade"></div>
				<div class="preloader-wrap"></div>
				<div class="preloader-wrap wrap2"></div>
				<div class="preloader-wrap wrap3"></div>
				<div class="preloader-wrap wrap4"></div>
				<div class="preloader-wrap wrap5"></div>
			</div>
		</div>

		<header th:replace="layout/header :: header"></header>

		<div class="page-content">
			<!-- inner page banner -->
			<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
				 style="background-image:url(static/images/background/bg3.jpg);">
				<div class="container">
					<div class="dz-bnr-inr-entry">
						<h1>Blog Details</h1>
						<nav aria-label="breadcrumb" class="breadcrumb-row">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/}"> Home</a></li>
								<li class="breadcrumb-item">Blog Details</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- inner page banner End-->
			<!-- Blog Large -->
			<section class="content-inner-1 bg-img-fix">
				<div class="container">
					<div class="row">
						<div class="col-xl-8 col-lg-8">
							<!-- blog start -->
							<div class="dz-blog blog-single style-1">
								<div class="dz-media rounded-md">
									<img th:src="@{../images/blog/default/blog1.jpg}" alt="">
								</div>
								<div class="dz-info">
									<div class="dz-meta  border-0 py-0 mb-2">
										<ul class="border-0 pt-0">
											<li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>7 March, 2022
											</li>
											<li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a
													href="javascript:void(0);"> Johne Doe</a></li>
										</ul>
									</div>
									<h4 class="dz-title">The Time Is Running Out!
										Think About These 6 Ways To Change Your
										Library.
										How To Restore Library?</h4>
									<div class="dz-post-text">
										<p>Sed auctor magna lacus, in placerat nisl sollicitudin ut. Morbi feugiat ante
											velit, eget convallis arcu iaculis vel. Fusce in rhoncus quam. Integer dolor
											arcu, ullamcorper sed auctor vitae, porttitor quis erat. Donec sit amet semper
											massa.</p>
										<p>Ut non nisl et magna molestie tincidunt. Aliquam erat volutpat. Vivamus eget
											feugiat odio. Vivamus faucibus lorem nec mollis placerat. Nulla et dapibus est.
											Fusce porttitor arcu ac velit commodo hendrerit. Vestibulum tempor dapibus
											sapien. Maecenas accumsan rhoncus massa, nec ornare libero faucibus tincidunt.
											Cras metus tortor, pretium vitae scelerisque id, sollicitudin at est.</p>
										<blockquote class="wp-block-quote is-style-default">
											<p>A great book should leave you
											with many experiences, and slightly exhausted at the end.
											You live several lives while reading. </p>
											<cite>Library Community</cite>
										</blockquote>
										<p>Fusce sem ligula, imperdiet sed nisi sit amet, euismod posuere dolor. Vestibulum
											in ante ut tortor eleifend venenatis. Morbi ac hendrerit nisl. Sed auctor magna
											lacus, in placerat nisl sollicitudin ut. Morbi feugiat ante velit, eget
											convallis arcu iaculis vel. Fusce in rhoncus quam. Integer dolor arcu,
											ullamcorper sed auctor vitae, porttitor quis erat. </p>
										<h4 class="m-b30">Understanding The Background Of the Library.</h4>
										<img class="alignleft rounded-md w-50" th:src="@{../images/blog/blog.jpg}" alt="">
										<p>Pellentesque quis molestie lacus. Sed et pellentesque nibh. Pellentesque pretium
											pretium neque, vel fermentum nisl ornare non. Aliquam interdum rutrum magna
											quis.</p>
										<p>Donec pretium, quam a aliquet pretium, dolor magna malesuada libero, non rhoncus
											quam lectus at lectus. Mauris id consequat est, ut aliquet lorem. Maecenas mi
											sem, aliquam et semper et, sagittis non magna. Vivamus et maximus nulla. Morbi
											tincidunt ex ac diam imperdiet, ut pretium justo porttitor. Class aptent taciti
											sociosqu ad litora</p>
										<p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris in leo venenatis
											varius. Aliquam nunc enim, egestas ac dui in, aliquam vulputate erat. Curabitur
											porttitor ante ut odio vestibulum, et iaculis arcu scelerisque. Sed ornare mi
											vitae elit molestie malesuada. Curabitur venenatis venenatis elementum.</p>
									</div>
									<div class="dz-meta meta-bottom border-top">
										<div class="post-tags">
											<strong>Tags:</strong>
											<a href="javascript:void(0);">Child</a>,
											<a href="javascript:void(0);">Education</a>,
											<a href="javascript:void(0);">Money</a>,
											<a href="javascript:void(0);">Adventure</a>
										</div>
										<div class="dz-social-icon primary-light">
											<ul>
												<li><a class="fab fa-facebook-f" href="javascript:void(0);"></a></li>
												<li><a class="fab fa-instagram" href="javascript:void(0);"></a></li>
												<li><a class="fab fa-twitter" href="javascript:void(0);"></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="row extra-blog style-1">
								<div class="col-lg-12">
									<h4 class="blog-title">RELATED BLOGS</h4>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="dz-blog style-1 bg-white m-b30">
										<div class="dz-media">
											<a th:href="@{/blog-detail}"><img th:src="@{../images/blog/default/blog1.jpg}" alt=""></a>
										</div>
										<div class="dz-info">
											<h5 class="dz-title">
												<a th:href="@{/blog-detail}">How Library Can Increase Your Profit!</a>
											</h5>
											<p class="m-b0">Pellentesque vel nibh gravida erat interdum lacinia vel in
												lectus. Sed fermentum pulvinar.</p>
											<div class="dz-meta meta-bottom">
												<ul class="">
													<li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>7
														March, 2022
													</li>
													<li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a
															href="javascript:void(0);"> Johne Doe</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="dz-blog style-1 bg-white m-b30">
										<div class="dz-media">
											<a th:href="@{/blog-detail}"><img th:src="@{../images/blog/large/blog4.jpg}" alt=""></a>
										</div>
										<div class="dz-info">
											<h5 class="dz-title">
												<a th:href="@{/blog-detail}">Library Can Improve Your Business</a>
											</h5>
											<p class="m-b0">Pellentesque vel nibh gravida erat interdum lacinia vel in
												lectus. Sed fermentum pulvinar.</p>
											<div class="dz-meta meta-bottom">
												<ul class="">
													<li class="post-date"><i class="far fa-calendar fa-fw m-r10"></i>7
														March, 2022
													</li>
													<li class="post-author"><i class="far fa-user fa-fw m-r10"></i>By <a
															href="javascript:void(0);"> Johne Doe</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clear" id="comment-list">
								<div class="post-comments comments-area style-1 clearfix">
									<h4 class="comments-title">4 COMMENTS</h4>
									<div id="comment">
										<ol class="comment-list">
											<li class="comment even thread-even depth-1 comment" id="comment-2">
												<div class="comment-body">
													<div class="comment-author vcard">
														<img th:src="@{../images/profile4.jpg}" alt="" class="avatar"/>
														<cite class="fn">Michel Poe</cite> <span class="says">says:</span>
														<div class="comment-meta">
															<a href="javascript:void(0);">December 28, 2022 at 6:14 am</a>
														</div>
													</div>
													<div class="comment-content dz-page-text">
														<p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris
															in leo venenatis varius. Aliquam nunc enim, egestas ac dui in,
															aliquam vulputate erat.</p>
													</div>
													<div class="reply">
														<a rel="nofollow" class="comment-reply-link"
														   href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a>
													</div>
												</div>
												<ol class="children">
													<li class="comment byuser comment-author-w3itexpertsuser bypostauthor odd alt depth-2 comment"
														id="comment-3">
														<div class="comment-body" id="div-comment-3">
															<div class="comment-author vcard">
																<img th:src="@{../images/profile3.jpg}" alt="" class="avatar"/>
																<cite class="fn">Celesto Anderson</cite> <span class="says">says:</span>
																<div class="comment-meta">
																	<a href="javascript:void(0);">December 28, 2022 at 6:14
																		am</a>
																</div>
															</div>
															<div class="comment-content dz-page-text">
																<p>Donec suscipit porta lorem eget condimentum. Morbi vitae
																	mauris in leo venenatis varius. Aliquam nunc enim,
																	egestas ac dui in, aliquam vulputate erat.</p>
															</div>
															<div class="reply">
																<a class="comment-reply-link" href="javascript:void(0);"><i
																		class="fa fa-reply"></i> Reply</a>
															</div>
														</div>
													</li>
												</ol>
											</li>
											<li class="comment even thread-odd thread-alt depth-1 comment" id="comment-4">
												<div class="comment-body" id="div-comment-4">
													<div class="comment-author vcard">
														<img th:src="@{../images/profile2.jpg}" alt="" class="avatar"/>
														<cite class="fn">Ryan</cite> <span class="says">says:</span>
														<div class="comment-meta">
															<a href="javascript:void(0);">December 28, 2022 at 6:14 am</a>
														</div>
													</div>
													<div class="comment-content dz-page-text">
														<p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris
															in leo venenatis varius. Aliquam nunc enim, egestas ac dui in,
															aliquam vulputate erat.</p>
													</div>
													<div class="reply">
														<a class="comment-reply-link" href="javascript:void(0);"><i
																class="fa fa-reply"></i> Reply</a>
													</div>
												</div>
											</li>
											<li class="comment odd alt thread-even depth-1 comment" id="comment-5">
												<div class="comment-body" id="div-comment-5">
													<div class="comment-author vcard">
														<img th:src="@{../images/profile1.jpg}" alt="" class="avatar"/>
														<cite class="fn">Stuart</cite> <span class="says">says:</span>
														<div class="comment-meta">
															<a href="javascript:void(0);">December 28, 2022 at 6:14 am</a>
														</div>
													</div>
													<div class="comment-content dz-page-text">
														<p>Donec suscipit porta lorem eget condimentum. Morbi vitae mauris
															in leo venenatis varius. Aliquam nunc enim, egestas ac dui in,
															aliquam vulputate erat.</p>
													</div>
													<div class="reply">
														<a rel="nofollow" class="comment-reply-link"
														   href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a>
													</div>
												</div>
											</li>
										</ol>
									</div>
									<div class="default-form comment-respond style-1" id="respond">
										<h4 class="comment-reply-title" id="reply-title">LEAVE A REPLY <small> <a
												rel="nofollow" id="cancel-comment-reply-link" href="javascript:void(0)"
												style="display:none;">Cancel reply</a> </small></h4>
										<div class="clearfix">
											<form method="post" id="comments_form" class="comment-form" novalidate>
												<p class="comment-form-author">
													<label for="name"></label>
													<input id="name"
														   placeholder="Author"
														   name="author"
														   type="text"
														   value="">
												</p>
												<p class="comment-form-email">
													<label for="email"></label>
													<input id="email" required="required"
														   placeholder="Email"
														   name="email"
														   type="email"
														   value=""></p>

												<p class="comment-form-comment">
													<label for="comments"></label>
													<textarea id="comments"
															 placeholder="Type Comment Here"
															 class="form-control4"
															 name="comment" cols="45" rows="3"
															 required="required"></textarea>
												</p>
												<p class="col-md-12 col-sm-12 col-xs-12 form-submit">
													<button id="submit" type="submit"
															class="submit btn btn-primary btnhover3 filled">
														Submit Now <i class="fa fa-angle-right m-l10"></i>
													</button>
												</p>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- blog END -->
						</div>
						<div class="col-xl-4 col-lg-4">
							<aside class="side-bar sticky-top">
								<div class="widget">
									<div class="search-bx">
										<form role="search" method="post">
											<div class="input-group">
												<label>
													<input name="text" class="form-control" placeholder="Search" type="text">
												</label>
												<span class="input-group-btn">
													<button type="submit" class="btn btn-primary "><svg
															xmlns="http://www.w3.org/2000/svg" width="24" height="24"
															viewBox="0 0 24 24" fill="none" stroke="currentColor"
															stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
															class="feather feather-search"><circle cx="11" cy="11"
																								   r="8"></circle><line
															x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
												</span>
											</div>
										</form>
									</div>
								</div>
								<div class="widget widget_categories">
									<h4 class="widget-title">Category</h4>
									<ul>
										<li class="cat-item cat-item-26"><a th:href="@{/blog-list-sidebar}">Audio</a> (3)</li>
										<li class="cat-item cat-item-36"><a th:href="@{/blog-list-sidebar}">Beauty</a> (4)
										</li>
										<li class="cat-item cat-item-43"><a th:href="@{/blog-list-sidebar}">Fashion</a> (3)
										</li>
										<li class="cat-item cat-item-27"><a th:href="@{/blog-list-sidebar}">Images</a> (1)
										</li>
										<li class="cat-item cat-item-40"><a th:href="@{/blog-list-sidebar}">Lifestyle</a> (3)
										</li>
									</ul>
								</div>
								<div class="widget recent-posts-entry">
									<h4 class="widget-title">Recent Posts</h4>
									<div class="widget-post-bx">
										<div class="widget-post clearfix">
											<div class="dz-media">
												<a th:href="@{/blog-detail}"><img th:src="@{../images/blog/recent-blog/blog1.jpg}"
																				alt=""></a>
											</div>
											<div class="dz-info">
												<h6 class="title"><a th:href="@{/blog-detail}">The Miracle Of Library In
													Mind.</a></h6>
												<div class="dz-meta">
													<ul>
														<li class="post-date"> 7 March, 2022</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="widget-post clearfix">
											<div class="dz-media">
												<a th:href="@{/blog-detail}"><img th:src="@{../images/blog/recent-blog/blog2.jpg}"
																				alt=""></a>
											</div>
											<div class="dz-info">
												<h6 class="title"><a th:href="@{/blog-detail}">Fall In Love With The
													Library</a></h6>
												<div class="dz-meta">
													<ul>
														<li class="post-date"> 7 March, 2022</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="widget-post clearfix">
											<div class="dz-media">
												<a th:href="@{/blog-detail}"><img th:src="@{../images/blog/recent-blog/blog3.jpg}"
																				alt=""></a>
											</div>
											<div class="dz-info">
												<h6 class="title"><a th:href="@{/blog-detail}">So many books, so little
													time.</a></h6>
												<div class="dz-meta">
													<ul>
														<li class="post-date"> 7 March, 2022</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="widget-post clearfix">
											<div class="dz-media">
												<a th:href="@{/blog-detail}"><img th:src="@{../images/blog/recent-blog/blog1.jpg}"
																				alt=""></a>
											</div>
											<div class="dz-info">
												<h6 class="title"><a th:href="@{/blog-detail}">Omg! The Best Library Ever!</a>
												</h6>
												<div class="dz-meta">
													<ul>
														<li class="post-date"> 7 March, 2022</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="widget widget widget_categories">
									<h4 class="widget-title">Archives</h4>
									<ul>
										<li><a href="javascript:void(0);">January</a>(3)</li>
										<li><a href="javascript:void(0);">Fabruary</a>(4)</li>
										<li><a href="javascript:void(0);">March</a>(4)</li>
										<li><a href="javascript:void(0);">April</a>(3)</li>
										<li><a href="javascript:void(0);">May</a>(4)</li>
										<li><a href="javascript:void(0);">Jun</a>(1)</li>
										<li><a href="javascript:void(0);">July</a>(4)</li>
									</ul>
								</div>
								<div class="widget widget_tag_cloud">
									<h4 class="widget-title">Tags</h4>
									<div class="tagcloud">
										<a href="javascript:void(0);">Business</a>
										<a href="javascript:void(0);">News</a>
										<a href="javascript:void(0);">Brand</a>
										<a href="javascript:void(0);">Website</a>
										<a href="javascript:void(0);">Internal</a>
										<a href="javascript:void(0);">Strategy</a>
										<a href="javascript:void(0);">Brand</a>
										<a href="javascript:void(0);">Mission</a>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</section>
			<!-- Feature Box -->
		</div>

		<footer th:replace="layout/footer :: footer"></footer>


		<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
	</div>
</body>
</html>