<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
	<div class="page-wraper">
		<div id="loading-area" class="preloader-wrapper-1">
			<div class="preloader-inner">
				<div class="preloader-shade"></div>
				<div class="preloader-wrap"></div>
				<div class="preloader-wrap wrap2"></div>
				<div class="preloader-wrap wrap3"></div>
				<div class="preloader-wrap wrap4"></div>
				<div class="preloader-wrap wrap5"></div>
			</div>
		</div>

		<header th:replace="layout/header :: header"></header>

		<div class="page-content bg-grey">
			<div class="content-inner-1 border-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xl-3">
							<div class="shop-filter">
								<div class="d-flex justify-content-between">
									<h4 class="title">Filter Option</h4>
									<a href="javascript:void(0);" class="panel-close-btn"><i class="flaticon-close"></i></a>
								</div>
								<div class="accordion accordion-filter" id="accordionExample">
									<div class="accordion-item">
										<button class="accordion-button" id="headingFive" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Price Range
										</button>
										<div id="collapseFive" class="accordion-collapse collapse accordion-body show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
											<div class="range-slider style-1">
												<div id="slider-tooltips"></div>
											</div>
										</div>
									</div>
									<div class="accordion-item">
									  <button class="accordion-button" id="headingOne" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Shop by Category</button>
										<div id="collapseOne" class="accordion-collapse collapse show accordion-body" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											<div class="widget dz-widget_services d-flex justify-content-between">
												<div class="">
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-01">
														<label class="form-check-label" for="productCheckBox-01">
															Action
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-02">
														<label class="form-check-label" for="productCheckBox-02">
															Advanture
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-03">
														<label class="form-check-label" for="productCheckBox-03">
															Animation
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-04">
														<label class="form-check-label" for="productCheckBox-04">
															Biography
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-05">
														<label class="form-check-label" for="productCheckBox-05">
															Comedy
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-06">
														<label class="form-check-label" for="productCheckBox-06">
															Crime
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-07">
														<label class="form-check-label" for="productCheckBox-07">
															Documentary
														</label>
													</div>
													<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox-016">
													<label class="form-check-label" for="productCheckBox-014">
														Design
													</label>
												</div>
												</div>
												<div class="">
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-08">
														<label class="form-check-label" for="productCheckBox-08">
															Fantasy
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-09">
														<label class="form-check-label" for="productCheckBox-09">
															History
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-010">
														<label class="form-check-label" for="productCheckBox-010">
															Horror
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-011">
														<label class="form-check-label" for="productCheckBox-011">
															Mystery
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-012">
														<label class="form-check-label" for="productCheckBox-012">
															Romance
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-013">
														<label class="form-check-label" for="productCheckBox-013">
															Sci-fi
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-014">
														<label class="form-check-label" for="productCheckBox-014">
															Sport
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox-015">
														<label class="form-check-label" for="productCheckBox-014">
															Science
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<button class="accordion-button collapsed" id="headingTwo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Choose Publisher
										</button>
										<div id="collapseTwo" class="accordion-collapse collapse accordion-body" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
											<div class="widget dz-widget_services">
												<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox15">
													<label class="form-check-label" for="productCheckBox15">
														Action
													</label>
												</div>
												<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox16">
													<label class="form-check-label" for="productCheckBox16">
														Advanture
													</label>
												</div>
												<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox17">
													<label class="form-check-label" for="productCheckBox17">
														Animation
													</label>
												</div>
												<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox18">
													<label class="form-check-label" for="productCheckBox18">
														Biography
													</label>
												</div>
												<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox19">
													<label class="form-check-label" for="productCheckBox19">
														Comedy
													</label>
												</div>
												<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox20">
													<label class="form-check-label" for="productCheckBox20">
														Crime
													</label>
												</div>
												<div class="form-check search-content">
													<input class="form-check-input" type="checkbox" value="" id="productCheckBox21">
													<label class="form-check-label" for="productCheckBox21">
														Documentary
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<button class="accordion-button collapsed" id="headingThree" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Select Year
										</button>
										<div id="collapseThree" class="accordion-collapse collapse accordion-body" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
											<div class="widget dz-widget_services col d-flex justify-content-between">
												<div class="">
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox22">
														<label class="form-check-label" for="productCheckBox22">
															2020
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox23">
														<label class="form-check-label" for="productCheckBox23">
															2021
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox24">
														<label class="form-check-label" for="productCheckBox24">
															2022
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox25">
														<label class="form-check-label" for="productCheckBox25">
															2019
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox26">
														<label class="form-check-label" for="productCheckBox26">
															2018
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox27">
														<label class="form-check-label" for="productCheckBox27">
															2017
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox28">
														<label class="form-check-label" for="productCheckBox28">
															2016
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox29">
														<label class="form-check-label" for="productCheckBox29">
															2015
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox30">
														<label class="form-check-label" for="productCheckBox30">
															2014
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox31">
														<label class="form-check-label" for="productCheckBox31">
															2013
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox32">
														<label class="form-check-label" for="productCheckBox32">
															2012
														</label>
													</div>
												</div>
												<div class="">
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox33">
														<label class="form-check-label" for="productCheckBox33">
															2011
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox34">
														<label class="form-check-label" for="productCheckBox34">
															2010
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox35">
														<label class="form-check-label" for="productCheckBox35">
															2009
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox36">
														<label class="form-check-label" for="productCheckBox36">
															2008
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox37">
														<label class="form-check-label" for="productCheckBox37">
															2007
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox38">
														<label class="form-check-label" for="productCheckBox38">
															2006
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox39">
														<label class="form-check-label" for="productCheckBox39">
															2005
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox40">
														<label class="form-check-label" for="productCheckBox40">
															2004
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox41">
														<label class="form-check-label" for="productCheckBox41">
															2003
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox42">
														<label class="form-check-label" for="productCheckBox42">
															2002
														</label>
													</div>
													<div class="form-check search-content">
														<input class="form-check-input" type="checkbox" value="" id="productCheckBox43">
														<label class="form-check-label" for="productCheckBox43">
															2001
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion accordion-inner" id="filter-inner">
										<div class="accordion-item">
											<button class="accordion-button" id="headingOne_inner" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_inner" aria-expanded="true" aria-controls="collapseOne_inner">Best Sales (105)</button>
											<div id="collapseOne_inner" class="accordion-collapse collapse show accordion-body" aria-labelledby="headingOne_inner" data-bs-parent="#filter-inner">
												<ul>
													<li><a href="javascript:void(0);">Alone Here</a></li>
													<li><a href="javascript:void(0);">Alien Invassion</a></li>
													<li><a href="javascript:void(0);">Bullo The Cat</a></li>
													<li><a href="javascript:void(0);">Cut That Hair!</a></li>
													<li><a href="javascript:void(0);">Dragon Of The King</a></li>
												</ul>
											</div>
										</div>
										<div class="accordion-item">
											<button class="accordion-button collapsed" id="headingTwo_inner" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo_inner" aria-expanded="false" aria-controls="collapseTwo_inner">
												Most Commented (21)
											</button>
											<div id="collapseTwo_inner" class="accordion-collapse collapse accordion-body" aria-labelledby="headingTwo_inner" data-bs-parent="#filter-inner">
												<ul>
													<li><a href="javascript:void(0);">Alone Here</a></li>
													<li><a href="javascript:void(0);">Alien Invassion</a></li>
													<li><a href="javascript:void(0);">Bullo The Cat</a></li>
													<li><a href="javascript:void(0);">Cut That Hair!</a></li>
													<li><a href="javascript:void(0);">Dragon Of The King</a></li>
												</ul>
											</div>
										</div>
										<div class="accordion-item">
											  <button class="accordion-button collapsed" id="headingThree_inner" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree_inner" aria-expanded="false" aria-controls="collapseThree_inner">
												Newest Books (32)
											  </button>
											<div id="collapseThree_inner" class="accordion-collapse collapse accordion-body" aria-labelledby="headingThree_inner" data-bs-parent="#filter-inner">
												<ul>
													<li><a href="javascript:void(0);">Alone Here</a></li>
													<li><a href="javascript:void(0);">Alien Invassion</a></li>
													<li><a href="javascript:void(0);">Bullo The Cat</a></li>
													<li><a href="javascript:void(0);">Cut That Hair!</a></li>
													<li><a href="javascript:void(0);">Dragon Of The King</a></li>
												</ul>
											</div>
										</div>
										<div class="accordion-item">
											  <button class="accordion-button collapsed" id="headingFour_inner" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour_inner" aria-expanded="false" aria-controls="collapseFour_inner">
												Featured (129)
											  </button>
											<div id="collapseFour_inner" class="accordion-collapse collapse accordion-body" aria-labelledby="headingFour_inner" data-bs-parent="#filter-inner">
												<ul>
													<li><a href="javascript:void(0);">Alone Here</a></li>
													<li><a href="javascript:void(0);">Alien Invassion</a></li>
													<li><a href="javascript:void(0);">Bullo The Cat</a></li>
													<li><a href="javascript:void(0);">Cut That Hair!</a></li>
													<li><a href="javascript:void(0);">Dragon Of The King</a></li>
												</ul>
											</div>
										</div>
										<div class="accordion-item">
											  <button class="accordion-button collapsed" id="headingFive_inner" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive_inner" aria-expanded="false" aria-controls="collapseFive_inner">
												Watch History (21)
											  </button>
											<div id="collapseFive_inner" class="accordion-collapse collapse accordion-body" aria-labelledby="headingFive_inner" data-bs-parent="#filter-inner">
												<ul>
													<li><a href="javascript:void(0);">Alone Here</a></li>
													<li><a href="javascript:void(0);">Alien Invassion</a></li>
													<li><a href="javascript:void(0);">Bullo The Cat</a></li>
													<li><a href="javascript:void(0);">Cut That Hair!</a></li>
													<li><a href="javascript:void(0);">Dragon Of The King</a></li>
												</ul>
											</div>
										</div>
										<div class="accordion-item">
											  <button class="accordion-button collapsed" id="headingSix_inner" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix_inner" aria-expanded="false" aria-controls="collapseSix_inner">
												 Best Books (44)
											  </button>
											<div id="collapseSix_inner" class="accordion-collapse collapse accordion-body" aria-labelledby="headingSix_inner" data-bs-parent="#filter-inner">
												<ul>
													<li><a href="javascript:void(0);">Alone Here</a></li>
													<li><a href="javascript:void(0);">Alien Invassion</a></li>
													<li><a href="javascript:void(0);">Bullo The Cat</a></li>
													<li><a href="javascript:void(0);">Cut That Hair!</a></li>
													<li><a href="javascript:void(0);">Dragon Of The King</a></li>
												</ul>
											</div>
										</div>
									</div>

								</div>
								<div class="row filter-buttons">
									<div>
										<a href="javascript:void(0);" class="btn btn-secondary btnhover mt-4 d-block">Refine Search</a>
										<a href="javascript:void(0);" class="btn btn-outline-secondary btnhover mt-3 d-block">Reset Filter</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-9">
							<div class="d-flex justify-content-between align-items-center">
								<h4 class="title">Books</h4>
								<a href="javascript:void(0);" class="btn btn-primary panel-btn">Filter</a>
							</div>
							<div class="filter-area m-b30">
								<div class="grid-area">
									<div class="shop-tab">
										<ul class="nav text-center product-filter justify-content-end" role="tablist">
											<li class="nav-item">
												<a class="nav-link" th:href="@{books-list}">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M3 5H21C21.2652 5 21.5196 4.89464 21.7071 4.7071C21.8946 4.51957 22 4.26521 22 4C22 3.73478 21.8946 3.48043 21.7071 3.29289C21.5196 3.10536 21.2652 3 21 3H3C2.73478 3 2.48043 3.10536 2.29289 3.29289C2.10536 3.48043 2 3.73478 2 4C2 4.26521 2.10536 4.51957 2.29289 4.7071C2.48043 4.89464 2.73478 5 3 5Z" fill="#AAAAAA"></path>
													<path d="M3 13H21C21.2652 13 21.5196 12.8947 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8947 2.73478 13 3 13Z" fill="#AAAAAA"></path>
													<path d="M3 21H21C21.2652 21 21.5196 20.8947 21.7071 20.7071C21.8946 20.5196 22 20.2652 22 20C22 19.7348 21.8946 19.4804 21.7071 19.2929C21.5196 19.1054 21.2652 19 21 19H3C2.73478 19 2.48043 19.1054 2.29289 19.2929C2.10536 19.4804 2 19.7348 2 20C2 20.2652 2.10536 20.5196 2.29289 20.7071C2.48043 20.8947 2.73478 21 3 21Z" fill="#AAAAAA"></path>
													</svg>
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" th:href="@{/books-grid-view}">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M3 11H10C10.2652 11 10.5196 10.8946 10.7071 10.7071C10.8946 10.5196 11 10.2652 11 10V3C11 2.73478 10.8946 2.48043 10.7071 2.29289C10.5196 2.10536 10.2652 2 10 2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V10C2 10.2652 2.10536 10.5196 2.29289 10.7071C2.48043 10.8946 2.73478 11 3 11ZM4 4H9V9H4V4Z" fill="#AAAAAA"></path>
													<path d="M14 11H21C21.2652 11 21.5196 10.8946 21.7071 10.7071C21.8946 10.5196 22 10.2652 22 10V3C22 2.73478 21.8946 2.48043 21.7071 2.29289C21.5196 2.10536 21.2652 2 21 2H14C13.7348 2 13.4804 2.10536 13.2929 2.29289C13.1054 2.48043 13 2.73478 13 3V10C13 10.2652 13.1054 10.5196 13.2929 10.7071C13.4804 10.8946 13.7348 11 14 11ZM15 4H20V9H15V4Z" fill="#AAAAAA"></path>
													<path d="M3 22H10C10.2652 22 10.5196 21.8946 10.7071 21.7071C10.8946 21.5196 11 21.2652 11 21V14C11 13.7348 10.8946 13.4804 10.7071 13.2929C10.5196 13.1054 10.2652 13 10 13H3C2.73478 13 2.48043 13.1054 2.29289 13.2929C2.10536 13.4804 2 13.7348 2 14V21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22ZM4 15H9V20H4V15Z" fill="#AAAAAA"></path>
													<path d="M14 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V14C22 13.7348 21.8946 13.4804 21.7071 13.2929C21.5196 13.1054 21.2652 13 21 13H14C13.7348 13 13.4804 13.1054 13.2929 13.2929C13.1054 13.4804 13 13.7348 13 14V21C13 21.2652 13.1054 21.5196 13.2929 21.7071C13.4804 21.8946 13.7348 22 14 22ZM15 15H20V20H15V15Z" fill="#AAAAAA"></path>
													</svg>
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" th:href="@{/books-grid-view-sidebar}">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M3 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V3C22 2.73478 21.8946 2.48043 21.7071 2.29289C21.5196 2.10536 21.2652 2 21 2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22ZM13 4H20V11H13V4ZM13 13H20V20H13V13ZM4 4H11V20H4V4Z" fill="#AAAAAA"></path>
													</svg>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="category">
									<div class="filter-category">
										<a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
											<i class="fas fa-list me-2"></i>
											Categories
										</a>
									</div>
									<div class="form-group">
										<i class="fas fa-sort-amount-down me-2 text-secondary"></i>
										<select class="default-select">
											<option>Newest</option>
											<option>1 Day</option>
											<option>1 Week</option>
											<option>3 Weeks</option>
											<option>1 Month</option>
											<option>3 Months</option>
										</select>
									</div>
								</div>
							</div>
							<div class="acod-content collapse " id="collapseExample">
								<div class="widget widget_services style-2">
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox01">
										<label class="form-check-label" for="productCheckBox01">
											Architecture
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox02">
										<label class="form-check-label" for="productCheckBox02">
											Art
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox03">
										<label class="form-check-label" for="productCheckBox03">
											Action
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox04">
										<label class="form-check-label" for="productCheckBox04">
											Biography & Autobiography
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox05">
										<label class="form-check-label" for="productCheckBox05">
											Body, Mind & Spirit
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox06">
										<label class="form-check-label" for="productCheckBox06">
											Business & Economics
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox07">
										<label class="form-check-label" for="productCheckBox07">
											Children Fiction
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox08">
										<label class="form-check-label" for="productCheckBox08">
											Children Non-Fiction
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox09">
										<label class="form-check-label" for="productCheckBox09">
											Comics & Graphic Novels
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox010">
										<label class="form-check-label" for="productCheckBox010">
											Cooking
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox011">
										<label class="form-check-label" for="productCheckBox011">
											Crafts & Hobbies
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox012">
										<label class="form-check-label" for="productCheckBox012">
											Design
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox013">
										<label class="form-check-label" for="productCheckBox013">
											Drama
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox014">
										<label class="form-check-label" for="productCheckBox014">
											Education
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox015">
										<label class="form-check-label" for="productCheckBox015">
											Family & Relationships
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox016">
										<label class="form-check-label" for="productCheckBox016">
											Fiction
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox017">
										<label class="form-check-label" for="productCheckBox017">
											Foreign Language Study
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox018">
										<label class="form-check-label" for="productCheckBox018">
											Games
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox019">
										<label class="form-check-label" for="productCheckBox019">
											Gardening
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox020">
										<label class="form-check-label" for="productCheckBox020">
											Health & Fitness
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox021">
										<label class="form-check-label" for="productCheckBox021">
											History
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox022">
										<label class="form-check-label" for="productCheckBox022">
											House & Home
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox023">
										<label class="form-check-label" for="productCheckBox023">
											Humor
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox024">
										<label class="form-check-label" for="productCheckBox024">
											Literary Collections
										</label>
									</div>
									<div class="form-check search-content">
										<input class="form-check-input" type="checkbox" value="" id="productCheckBox025">
										<label class="form-check-label" for="productCheckBox025">
											Mathematics
										</label>
									</div>
								</div>
							</div>
							<div class="row book-grid-row">
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book14.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault1">
											<label class="form-check-label" for="flexCheckDefault1">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Thunder Stunt</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">ADVANTURE,</a></li>
												<li><a th:href="@{/books-grid-view}">SCIENCE,</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$57.5</span>
													<del>$12.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book15.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault2">
											<label class="form-check-label" for="flexCheckDefault2">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Battler Drive</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">RACING,</a></li>
												<li><a th:href="@{/books-grid-view}">DRAMA</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$60.09</span>
													<del>$12.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book4.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault3">
											<label class="form-check-label" for="flexCheckDefault3">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Take Out Tango</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">SPORTS,</a></li>
												<li><a th:href="@{/books-grid-view}">DRAMA</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$12.05</span>
													<del>$54.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book9.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault4">
											<label class="form-check-label" for="flexCheckDefault4">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Missadventure</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">ADVENTURE</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$53.0</span>
													<del>$44.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book7.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault5">
											<label class="form-check-label" for="flexCheckDefault5">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Thunder Stunt</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">ADVANTURE,</a></li>
												<li><a th:href="@{/books-grid-view}">SCIENCE</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$53.0</span>
													<del>$70.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book13.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault6">
											<label class="form-check-label" for="flexCheckDefault6">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Battler Drive</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">RACING,</a></li>
												<li><a th:href="@{/books-grid-view}">DRAMA</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$ 60.09</span>
													<del>$12.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book11.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault7">
											<label class="form-check-label" for="flexCheckDefault7">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Take Out Tango</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">SPORTS,</a></li>
												<li><a th:href="@{/books-grid-view}">DRAMA</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$12.05</span>
													<del>$54.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book10.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault8">
											<label class="form-check-label" for="flexCheckDefault8">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Missadventure</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">ADVENTURE</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$53.0</span>
													<del>$44.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book16.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault9">
											<label class="form-check-label" for="flexCheckDefault9">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Thunder Stunt</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">ADVANTURE</a></li>
												<li><a th:href="@{/books-grid-view}">SCIENCE</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$54.78</span>
													<del>$70.00</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book3.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault10">
											<label class="form-check-label" for="flexCheckDefault10">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Battler Drive</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">RACING,</a></li>
												<li><a th:href="@{/books-grid-view}">DRAMA</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$60.09</span>
													<del>$12.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book5.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault11">
											<label class="form-check-label" for="flexCheckDefault11">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Take Out Tango</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">SPORTS,</a></li>
												<li><a th:href="@{/books-grid-view}">DRAMA</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$12.05</span>
													<del>$54.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-book style-2">
									<div class="dz-shop-card style-1">
										<div class="dz-media">
											<img th:src="@{../images/books/grid/book12.jpg}" alt="book">
										</div>
										<div class="bookmark-btn style-2">
											<input class="form-check-input" type="checkbox" id="flexCheckDefault12">
											<label class="form-check-label" for="flexCheckDefault12">
												<i class="flaticon-heart"></i>
											</label>
										</div>
										<div class="dz-content">
											<h5 class="title"><a th:href="@{/books-grid-view}">Missadventure</a></h5>
											<ul class="dz-tags">
												<li><a th:href="@{/books-grid-view}">ADVENTURE</a></li>
											</ul>
											<ul class="dz-rating">
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-yellow"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
												<li><i class="flaticon-star text-muted"></i></li>
											</ul>
											<div class="book-footer">
												<div class="price">
													<span class="price-num">$53.0</span>
													<del>$44.0</del>
												</div>
												<a th:href="@{/shop-cart}" class="btn btn-secondary box-btn btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row page mt-0">
								<div class="col-md-6">
									<p class="page-text">Showing 12 from 50 data</p>
								</div>
								<div class="col-md-6">
									<nav aria-label="Blog Pagination">
										<ul class="pagination style-1 p-t20">
											<li class="page-item"><a class="page-link prev" href="javascript:void(0);">Prev</a></li>
											<li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
											<li class="page-item"><a class="page-link next" href="javascript:void(0);">Next</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Client Start-->
			<div class="bg-white py-5">
				<div class="container">
				<!--Client Swiper -->
					<div class="swiper client-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img th:src="@{../images/client/client1.svg}" alt="client"></div>
							<div class="swiper-slide"><img th:src="@{../images/client/client2.svg}" alt="client"></div>
							<div class="swiper-slide"><img th:src="@{../images/client/client3.svg}" alt="client"></div>
							<div class="swiper-slide"><img th:src="@{../images/client/client4.svg}" alt="client"></div>
							<div class="swiper-slide"><img th:src="@{../images/client/client5.svg}" alt="client"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- Client End-->

			<!-- Feature Box -->
			<section class="content-inner">
				<div class="container">
					<div class="row sp15">
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="icon-bx-wraper style-2 m-b30 text-center">
								<div class="icon-bx-lg">
									<i class="fa-solid fa-users icon-cell"></i>
								</div>
								<div class="icon-content">
									<h2 class="dz-title counter m-b0">125,663</h2>
									<p class="font-20">Happy Customers</p>
								</div>
							</div>
						</div>
						<div class=" col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="icon-bx-wraper style-2 m-b30 text-center">
								<div class="icon-bx-lg">
									<i class="fa-solid fa-book icon-cell"></i>
								</div>
								<div class="icon-content">
									<h2 class="dz-title counter m-b0">50,672</h2>
									<p class="font-20">Book Collections</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="icon-bx-wraper style-2 m-b30 text-center">
								<div class="icon-bx-lg">
									<i class="fa-solid fa-store icon-cell"></i>
								</div>
								<div class="icon-content">
									<h2 class="dz-title counter m-b0">1,562</h2>
									<p class="font-20">Our Stores</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="icon-bx-wraper style-2 m-b30 text-center">
								<div class="icon-bx-lg">
									<i class="fa-solid fa-leaf icon-cell"></i>
								</div>
								<div class="icon-content">
									<h2 class="dz-title counter m-b0">457</h2>
									<p class="font-20">Famous Writers</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Feature Box End -->

			<!-- Newsletter -->
			<section class="py-5 newsletter-wrapper" style="background-image: url('static/images/background/bg1.jpg'); background-size: cover;">
				<div class="container">
					<div class="subscride-inner">
						<div class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
							<div class="col-xl-7 col-lg-12">
								<div class="section-head mb-0">
									<h2 class="title text-white my-lg-3 mt-0">Subscribe our newsletter for newest books updates</h2>
								</div>
							</div>
							<div class="col-xl-5 col-lg-6">
								<form class="dzSubscribe style-1" action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="form-group">
										<div class="input-group mb-0">
											<input name="dzEmail" required="required" type="email" class="form-control bg-transparent text-white" placeholder="Your Email Address">
											<div class="input-group-addon">
												<button name="submit" value="Submit" type="submit" class="btn btn-primary btnhover">
													<span>SUBSCRIBE</span>
													<i class="fa-solid fa-paper-plane"></i>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Newsletter End -->

		</div>


		<footer th:replace="layout/footer :: footer"></footer>


		<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
	</div>
</body>
</html>