<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
<div class="page-wraper">
	<div id="loading-area" class="preloader-wrapper-1">
		<div class="preloader-inner">
			<div class="preloader-shade"></div>
			<div class="preloader-wrap"></div>
			<div class="preloader-wrap wrap2"></div>
			<div class="preloader-wrap wrap3"></div>
			<div class="preloader-wrap wrap4"></div>
			<div class="preloader-wrap wrap5"></div>
		</div> 
	</div>
	<div class="dez-coming-soon style-3">
		<div class="bg-img" style="background-image:url('static/images/background/bg2.jpg');"></div>
		<div class="clearfix dez-coming-bx">
			<div class="dez-content">
				<div class="center-md">
					<div class="logo top-left m-b30">
						<a th:href="@{/}"><img th:src="@{../images/logo-white.png}" alt=""></a>
					</div>
					<h2 class="dez-title mb-2">COMING SOON</h2>
					<p class="text-white">Our website is coming soon, follow us for update now!</p>
					
					<form class="dzSubscribe" action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php" method="post">
						<div class="ft-subscribe">
							<div class="dzSubscribeMsg text-white"></div>
							<div class="ft-row m-b15">
								<input name="dzEmail" required="required" type="email" placeholder="Enter Email Address" class="form-control">
								<button name="submit" value="Submit" type="submit" class="btn"><i class="fas fa-arrow-right"></i></button>
							</div>
						</div>
							<p class="text-white">And don’t worry, we hate spam too! You can unsubcribe at anytime.</p>
					</form>
					
					<div class="countdown-timer countdown-container">
						<div class="clock">
							<div class="clock-item clock-days countdown-time-value">
								<div id="canvas-days" class="clock-canvas"></div>
								<div class="text">
									<p class="val">0</p>
									<p class="type-days type-time" data-border-color="#fff">Days</p>
								</div>
							</div>
							<div class="clock-item clock-hours countdown-time-value">
								<div id="canvas-hours" class="clock-canvas"></div>
								<div class="text">
									<p class="val">0</p>
									<p class="type-hours type-time" data-border-color="#fff">Hours</p>
								</div>
							</div>
							<div class="clock-item clock-minutes countdown-time-value">
								<div id="canvas-minutes" class="clock-canvas"></div>
								<div class="text">
									<p class="val">0</p>
									<p class="type-minutes type-time" data-border-color="#fff">Minutes</p>
								</div>
							</div>
							<div class="clock-item clock-seconds countdown-time-value">
								<div id="canvas-seconds" class="clock-canvas"></div>
								<div class="text">
									<p class="val">0</p>
									<p class="type-seconds type-time" data-border-color="#fff">Seconds</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="top-right">
				<ul class="dez-social-icon">
					<li><a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/dexignzone"></a></li>
					<li><a class="fab fa-twitter" target="_blank" href="https://twitter.com/dexignzones"></a></li>
					<li><a class="fab fa-linkedin-in" target="_blank" href="https://www.linkedin.com/showcase/3686700/admin/"></a></li>
					<li><a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/website_templates__/"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Coming Soon Contant -->
	<div class="modal fade subscribe-box" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php" class="dzSubscribe modal-content" method="post">
				<div class="modal-header">
					
					<h5 class="modal-title" id="exampleModalLabel">Subscribe Newsletter</h5>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt labore dolore.</p>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input name="dzEmail" id="SubscribeInput" required="required" class="form-control" placeholder="Your Email Address" type="email">
						<div class="dzSubscribeMsg"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="site-button gradient radius-md button-lg shadow">Subscribe Now</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>