<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
	<div class="page-wraper">
		<div id="loading-area" class="preloader-wrapper-1">
			<div class="preloader-inner">
				<div class="preloader-shade"></div>
				<div class="preloader-wrap"></div>
				<div class="preloader-wrap wrap2"></div>
				<div class="preloader-wrap wrap3"></div>
				<div class="preloader-wrap wrap4"></div>
				<div class="preloader-wrap wrap5"></div>
			</div>
		</div>
		<div class="error-page overlay-secondary-dark" style="background-image: url(static/images/background/bg3.jpg);">
			<div class="error-inner text-center">
				<div class="dz_error" data-text="404">404</div>
				<h2 class="error-head">We are sorry. But the page you are looking for cannot be found.</h2>
				<a th:href="@{/}" class="btn btn-primary btn-border btnhover white-border">BACK TO HOMEPAGE</a>
			</div>
		</div>
	</div>
</body>
</html>