<!doctype html>
<html lang="en">
<head th:replace="layout/head :: head"><title>Home</title></head>
    <body>
    <header th:replace="layout/header :: header"></header>
        <form id="forgot-password" action="/forgot-password"  method="post" class="tab-pane fade  col-12">
        <h4 class="text-secondary">FORGET PASSWORD ?</h4>
        <p class="font-weight-600">We will send you an email to reset your password. </p>
        <div class="mb-3">
            <label class="label-title">E-MAIL *</label>
            <input name="email" required class="form-control" placeholder="Your Email Id" type="email">
            <p th:if="${error}" th:text="${error}" class="text-danger"></p>
        </div>
        <div class="text-left">
            <a class="btn btn-outline-secondary btnhover m-r10" data-bs-toggle="tab" th:href="@{login}">Back</a>
            <button class="btn btn-primary " type="submit">Submit</button>
        </div>
    </form>
    <footer th:replace="layout/footer :: footer"></footer>
    </body>
</html>