<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
<div class="container mt-5">
    <!-- Header-->
    <header th:replace="layout/header :: header"></header>
    <!-- Header end-->

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Đặt Lại Mật Khẩu</h3>
                </div>
                <div class="card-body">
                    <form action="/reset-password" method="post">
                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="token" class="form-label">Mã xác thực</label>
                            <input type="text" class="form-control" id="token" name="token" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer th:replace="layout/footer :: footer"></footer>
    <!-- Footer end-->
</div>
</body>
</html>
