<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"><title>Home</title></head>
<body>
<div class="page-wraper">
    <div class="preloader-wrapper-1" id="loading-area">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>
    <header th:replace="layout/header :: header"></header>

    <div class="page-content">
        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
             style="background-image:url(/images/background/bg3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Login</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}"> Home</a></li>
                            <li class="breadcrumb-item">Login</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End-->

        <!-- contact area -->
        <section class="content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="login-area">
                            <div class="tab-content">
                                <h4>NEW CUSTOMER</h4>
                                <p>By creating an account with our store, you will be able to move through the checkout
                                    process faster, store multiple shipping addresses, view and track your orders in
                                    your account and more.</p>
                                <a class="btn btn-primary btnhover m-r5 button-lg radius-no" th:href="@{/register}">CREATE
                                    AN ACCOUNT</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="login-area">
                            <div class="tab-content nav">


                                <div th:if="${param.error}">
                                    <p style="color: red;">Email or password does not exist</p>
                                </div>

                                <form class="tab-pane active col-12" id="login" method="post" th:action="@{/login}">
                                    <h4 class="text-secondary">LOGIN</h4>
                                    <p class="font-weight-600">If you have an account with us, please log in.</p>
                                    <div class="mb-4">
                                        <label class="label-title">E-MAIL *</label>
                                        <input class="form-control" name="username" placeholder="Your Email Id"
                                               required="" type="email">
                                    </div>
                                    <div class="mb-4">
                                        <label class="label-title">PASSWORD *</label>
                                        <input class="form-control " name="password" placeholder="Type Password"
                                               required="" type="password">
                                    </div>
                                    <div class="text-left">
                                        <button class="btn btn-primary btnhover me-2">login</button>
                                        <a class="m-l5" data-bs-toggle="tab" th:href="@{forgot-password}"><i
                                                class="fas fa-unlock-alt"></i> Forgot Password</a>
                                    </div>
                                    <a href="/oauth2/authorization/google">Login With Google</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </section>
        <!-- contact area End-->
    </div>
    <footer th:replace="layout/footer :: footer"></footer>
    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>