<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head :: head}"><title>Reset PassWord</title></head>
<body>
<div class="container mt-5">
    <!-- Header-->
    <header th:replace="~{layout/header :: header}"></header>
    <!-- Header end-->

    <div class="row justify-content-center align-items-center min-vh-50">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Reset Password</h3>
                </div>
                <div class="card-body">

                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <form action="/reset-password" method="post">
                        <div class="mb-3">
                            <label class="form-label" for="password">A new password</label>
                            <input class="form-control" id="password" name="password" required type="password">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="token">OTP</label>
                            <input class="form-control" id="token" name="token" required type="text">
                        </div>
                        <button class="btn btn-primary w-100" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer th:replace="~{layout/footer :: footer}"></footer>
    <!-- Footer end-->
</div>
</body>
</html>
