<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}">
    <title>OTP</title>
</head>
<body>
<header th:replace="~{layout/header :: header}"></header>
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-50">
        <h1>OTP Verification</h1>
        <form th:action="@{/register/verify-otp}" method="post" onsubmit="return verifyOtp()">
            <label for="otp">Enter OTP:</label>
            <p th:if="${error}" th:text="${error}" class="error"></p>
            <input type="text" id="otp" name="otp" required>
            <input type="submit" value="Verify OTP" id="verifyButton">
            <a href="#" th:href="@{/register}" class="btn-register">Back to Register</a>
        </form>
        <div id="timer">60 seconds remaining</div>
    </div>
</div>
<footer th:replace="~{layout/footer :: footer}"></footer>
<script>
    var otpDuration = 60;
    var otpStartTime = parseInt(localStorage.getItem('otpStartTime')) || 0;
    var otpSent = localStorage.getItem('otpSent') === 'true';
    var timerId;

    function startTimer() {
        var currentTime = Math.floor(Date.now() / 1000);

        if (!otpSent || !otpStartTime || (currentTime - otpStartTime) >= otpDuration) {
            otpStartTime = currentTime;
            localStorage.setItem('otpStartTime', otpStartTime);
            otpSent = false; // Reset the status
            localStorage.setItem('otpSent', otpSent);
        } else {
            var timeElapsed = currentTime - otpStartTime;
            var timeLeft = otpDuration - timeElapsed;
            updateTimer(timeLeft);
        }

        timerId = setInterval(countdown, 1000);
    }

    function countdown() {
        var currentTime = Math.floor(Date.now() / 1000);
        var timeElapsed = currentTime - otpStartTime;
        var timeLeft = otpDuration - timeElapsed;

        if (timeLeft <= 0) {
            clearInterval(timerId);
            var expiredMessage = document.getElementById('timer');
            expiredMessage.innerHTML = 'Token expired';
            expiredMessage.classList.add('error-red');
            document.getElementById('otp').disabled = true;
            localStorage.removeItem('otpStartTime');
        } else {
            updateTimer(timeLeft);
        }
    }

    function updateTimer(timeLeft) {
        document.getElementById('timer').innerHTML = timeLeft + ' seconds remaining';
    }

    function verifyOtp() {
        // Perform OTP verification here

        otpSent = true;
        localStorage.setItem('otpSent', otpSent);
        return true;
    }

    startTimer(); // Start the timer when the page loads
</script>
</body>
</html>
