<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head}">
    <title>Login</title>
</head>

<body>
<div class="page-wraper">
    <div id="loading-area" class="preloader-wrapper-Login">
        <div class="preloader-inner">
            <div class="preloader-shade"></div>
            <div class="preloader-wrap"></div>
            <div class="preloader-wrap wrap2"></div>
            <div class="preloader-wrap wrap3"></div>
            <div class="preloader-wrap wrap4"></div>
            <div class="preloader-wrap wrap5"></div>
        </div>
    </div>
    <!-- Header -->
    <div th:replace="~{layout/header :: header}"></div>
    <!-- Header End -->

    <div class="page-content">
        <!-- inner page banner -->
        <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(/user/images/background/bg3.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Login</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../index.html"> Home</a></li>
                            <li class="breadcrumb-item">Login</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- inner page banner End -->

        <!-- contact area -->
        <section class="content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="login-area">
                            <div class="tab-content">
                                <h4>NEW CUSTOMER</h4>
                                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                                <a class="btn btn-primary btnhover m-r5 button-lg radius-no" th:href="@{/register}">CREATE AN ACCOUNT</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="login-area">
                            <div class="tab-content nav">
                                <form id="login" method="post" th:action="@{/login}" class="tab-pane active col-12">
                                    <h4 class="text-secondary">LOGIN</h4>
                                    <p class="font-weight-600">If you have an account with us, please log in.</p>
                                    <div class="mb-4">
                                        <label class="label-title">E-MAIL *</label>
                                        <input name="username" required class="form-control" placeholder="Your Email Id" type="email">
                                    </div>
                                    <div class="mb-4">
                                        <label class="label-title">PASSWORD *</label>
                                        <input name="password" required class="form-control" placeholder="Type Password" type="password">
                                    </div>

                                    <div th:if="${param.error}">
                                        <p style="color: red;">Email or password does not exist</p>
                                    </div>

                                    <div th:if="${param.banned}">
                                        <p style="color: red;">Your account has been locked, please contact us for support</p>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click</a>
                                    </div>
                                    <br>

                                    <div class="text-left">
                                        <button class="btn btn-primary btnhover me-2">Login</button>
                                        <a th:href="@{/forgotPassword}" class="m-l5"><i class="fas fa-unlock-alt"></i> Forgot Password</a>
                                    </div>

                                    <div class="col-md-12">
                                        <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" th:href="@{/oauth2/authorization/google}">
                                            <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="">
                                            Signup Using Google
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product END -->
        </section>

        <!-- contact area End -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Contact Support</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/contact}" method="post">
                            <div class="form-group mb-3">
                                <label for="name">Email</label>
                                <input type="email" class="form-control" id="name" name="email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div th:replace="~{layout/footer :: footer}"></div>
    <!-- Footer End -->

    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>

<!-- Ensure Bootstrap modal workings -->
<script src="/user/js/jquery.min.js"></script>
<script src="/user/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
        });
    });
</script>

</body>

</html>